USE [master]
GO
/****** Object:  Database [QLPT1]    Script Date: 4/2/2017 5:46:49 PM ******/
CREATE DATABASE [QLPT1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPT1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLPT1.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLPT1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLPT1_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPT1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPT1]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/2/2017 5:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountId] [int] IDENTITY(1,1) NOT NULL,
	[level] [smallint] NULL,
	[categoryId] [smallint] NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](40) NULL,
	[password] [nvarchar](32) NULL,
	[phone] [nvarchar](11) NULL,
	[status] [tinyint] NULL,
	[avatar] [nvarchar](500) NULL,
 CONSTRAINT [pk_Account] PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [pk_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[districtId] [smallint] IDENTITY(1,1) NOT NULL,
	[provinceId] [smallint] NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [pk_District] PRIMARY KEY CLUSTERED 
(
	[districtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[imageId] [int] IDENTITY(1,1) NOT NULL,
	[threadId] [int] NULL,
	[src] [nvarchar](200) NULL,
	[content] [nvarchar](200) NULL,
	[image360] [bit] NULL,
 CONSTRAINT [pk_Image] PRIMARY KEY CLUSTERED 
(
	[imageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationId] [int] IDENTITY(1,1) NOT NULL,
	[threadId] [int] NULL,
	[rateId] [int] NULL,
	[accountId] [int] NULL,
	[accountIdPush] [int] NULL,
	[content] [nvarchar](500) NULL,
	[created] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [pk_Notification] PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[provinceId] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [pk_Province] PRIMARY KEY CLUSTERED 
(
	[provinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rate]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[rateId] [int] IDENTITY(1,1) NOT NULL,
	[threadId] [int] NULL,
	[accountId] [int] NULL,
	[content] [nvarchar](200) NULL,
	[score] [tinyint] NULL,
	[created] [datetime] NULL,
 CONSTRAINT [pk_Rate] PRIMARY KEY CLUSTERED 
(
	[rateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thread]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thread](
	[threadId] [int] IDENTITY(1,1) NOT NULL,
	[categoryId] [smallint] NULL,
	[accountId] [int] NULL,
	[name] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[content] [nvarchar](4000) NULL,
	[price] [money] NULL,
	[electricFee] [money] NULL,
	[waterFee] [money] NULL,
	[otherFee] [money] NULL,
	[area] [int] NULL,
	[wifi] [bit] NULL,
	[waterHeater] [bit] NULL,
	[conditioner] [bit] NULL,
	[fridge] [bit] NULL,
	[attic] [bit] NULL,
	[camera] [bit] NULL,
	[waterSource] [tinyint] NULL,
	[direction] [nvarchar](100) NULL,
	[numOfToilets] [smallint] NULL,
	[numOfPeople] [smallint] NULL,
	[object] [tinyint] NULL,
	[villageId] [int] NULL,
	[created] [date] NULL,
	[viewed] [int] NULL,
	[status] [tinyint] NULL,
	[kindOf] [bit] NULL,
	[imageThumb] [nvarchar](200) NULL,
	[note] [nvarchar](200) NULL,
	[available] [bit] NULL,
 CONSTRAINT [pk_Thread] PRIMARY KEY CLUSTERED 
(
	[threadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Village]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Village](
	[villageId] [int] IDENTITY(1,1) NOT NULL,
	[districtId] [smallint] NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [pk_Village] PRIMARY KEY CLUSTERED 
(
	[villageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountId], [level], [categoryId], [name], [email], [password], [phone], [status], [avatar]) VALUES (1, 1, NULL, N'Admin 1', N'admin1@gmail.com', N'123', N'phone 1', 1, N'image/avatar1.jpg')
INSERT [dbo].[Account] ([accountId], [level], [categoryId], [name], [email], [password], [phone], [status], [avatar]) VALUES (2, 1, NULL, N'Admin 2', N'admin2@gmail.com', N'123', N'phone 2', 1, N'image/avatar2.jpg')
INSERT [dbo].[Account] ([accountId], [level], [categoryId], [name], [email], [password], [phone], [status], [avatar]) VALUES (3, 2, 1, N'Mod 1', N'mod1@gmail.com', N'123', N'phone 3', 1, N'image/avatar3.jpg')
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryId], [name]) VALUES (1, N'Phòng trọ')
INSERT [dbo].[Category] ([categoryId], [name]) VALUES (2, N'Nhà ở')
INSERT [dbo].[Category] ([categoryId], [name]) VALUES (3, N'Căn hộ')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([districtId], [provinceId], [name]) VALUES (1, 1, N'Sơn Tịnh')
INSERT [dbo].[District] ([districtId], [provinceId], [name]) VALUES (2, 1, N'Trà Bồng')
INSERT [dbo].[District] ([districtId], [provinceId], [name]) VALUES (3, 2, N'Ngũ Hành Sơn')
SET IDENTITY_INSERT [dbo].[District] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([imageId], [threadId], [src], [content], [image360]) VALUES (3369, 223, N'image/7.jpg', N'CĂN HỘ MINI MỚI XÂY, SẠCH SẼ, AN NINH', 0)
INSERT [dbo].[Image] ([imageId], [threadId], [src], [content], [image360]) VALUES (3370, 223, N'image/8.jpg', N'CĂN HỘ MINI MỚI XÂY, SẠCH SẼ, AN NINH', 0)
INSERT [dbo].[Image] ([imageId], [threadId], [src], [content], [image360]) VALUES (3371, 223, N'image/9.jpg', N'CĂN HỘ MINI MỚI XÂY, SẠCH SẼ, AN NINH', 0)
GO
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notificationId], [threadId], [rateId], [accountId], [accountIdPush], [content], [created], [status]) VALUES (52, 243, 4117, 8, 14, N'<b>User 8</b> đã đánh giá về bài viết của bạn', CAST(0x0000A7460097B878 AS DateTime), NULL)
INSERT [dbo].[Notification] ([notificationId], [threadId], [rateId], [accountId], [accountIdPush], [content], [created], [status]) VALUES (53, 241, 4118, 8, 14, N'<b>User 8</b> đã đánh giá về bài viết của bạn', CAST(0x0000A7460097E0F2 AS DateTime), NULL)
INSERT [dbo].[Notification] ([notificationId], [threadId], [rateId], [accountId], [accountIdPush], [content], [created], [status]) VALUES (54, 249, 4119, 8, 7, N'<b>User 1</b> đã đánh giá về bài viết của bạn', CAST(0x0000A746009A013F AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Notification] OFF
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([provinceId], [name]) VALUES (1, N'Quảng Ngãi')
INSERT [dbo].[Province] ([provinceId], [name]) VALUES (2, N'Ðà Nẵng')
SET IDENTITY_INSERT [dbo].[Province] OFF
SET IDENTITY_INSERT [dbo].[Rate] ON 

INSERT [dbo].[Rate] ([rateId], [threadId], [accountId], [content], [score], [created]) VALUES (4117, 243, 14, N'sadjhadjhdasjkdsadjkasdaskjddasddasdasdd', 4, CAST(0x0000A7460097B774 AS DateTime))
INSERT [dbo].[Rate] ([rateId], [threadId], [accountId], [content], [score], [created]) VALUES (4118, 241, 14, N'asdasdasdasdasdasdasdas', 5, CAST(0x0000A7460097E078 AS DateTime))
INSERT [dbo].[Rate] ([rateId], [threadId], [accountId], [content], [score], [created]) VALUES (4119, 249, 7, N'chất lượng phòng tốt, cho 5 điểm', 5, CAST(0x0000A746009A0038 AS DateTime))
SET IDENTITY_INSERT [dbo].[Rate] OFF
SET IDENTITY_INSERT [dbo].[Thread] ON 

INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (223, 3, 11, N'CĂN HỘ MINI MỚI XÂY, SẠCH SẼ, AN NINH', N'Tịnh Bình, Quảng Ngãi, Việt Nam', CAST(15.19323100 AS Decimal(10, 8)), CAST(108.71851840 AS Decimal(11, 8)), N'<p>T&ograve;a nh&agrave; nằm ngay g&oacute;c 3 mặt tiền n&ecirc;n tận dụng độ tho&aacute;ng cực kỳ hiệu quả, v&igrave; vậy lu&ocirc;n tho&aacute;ng đ&atilde;ng. Căn hộ c&oacute; ban c&ocirc;ng, nhiều cửa sổ, view đẹp ngắm to&agrave;n th&agrave;nh phố.</p>
<p>Camera quan s&aacute;t 24/24, hẻm cụt an ninh, xe hơi v&agrave;o tận nh&agrave;, khu d&acirc;n cư cao cấp, tri thức.</p>
<p>Tiện &iacute;ch xung quanh đầy đủ: si&ecirc;u thị co.op mart, nh&agrave; s&aacute;ch, chợ B&agrave; Chiểu, bệnh viện Gia Định... v&agrave; nhiều trường học: đh văn lang, đh hutech, đh ngoại thương...</p>
<p>Chỗ để xe free, c&oacute; khu vực giặt phơi ri&ecirc;ng biệt, được nấu ăn.</p>
<p>Căn hộ đ&atilde; được trang bị sẵn m&aacute;y lạnh, tủ &acirc;m tường, m&aacute;y nước n&oacute;ng lạnh. WC ri&ecirc;ng biệt trong ph&ograve;ng với nội thất cao cấp v&agrave; mới 100%</p>
<p>Ph&ugrave; hợp cho người th&iacute;ch sự y&ecirc;n tĩnh, tho&aacute;ng đ&atilde;ng v&agrave; sạch sẽ, d&acirc;n tr&iacute; thức!</p>', 7000000.0000, 3000.0000, 2000.0000, 7000.0000, 0, 0, 1, 1, 1, 0, 0, 3, N'Đông Nam', 3, 4, 1, 1, CAST(0xA03C0B00 AS Date), 0, 1, 1, N'image/5.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (224, 3, 11, N'CHO THUÊ CĂN HỘ CAO CẤP QUẬN NGŨ HÀNH SƠN THOÁNG MÁT, ĐẦY ĐỦ TIỆN NGHI', N'Hòa Vang, Đà Nẵng, Việt Nam', CAST(15.99998800 AS Decimal(10, 8)), CAST(108.14579940 AS Decimal(11, 8)), N'<p class="\\\&quot;MsoNormal\\\&quot;">- Hẻm xe hơi, y&ecirc;n tĩnh, tho&aacute;ng m&aacute;t, an ninh</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- B&atilde;i giữ xe rộng r&atilde;i, an ninh</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Căn hộ rộng 30m2 gồm 1 ph&ograve;ng ngủ-1 ph&ograve;ng kh&aacute;ch c&oacute; đủ nội thất cao cấp.</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Bếp ri&ecirc;ng trong ph&ograve;ng cho bạn tự do nấu nướng</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Giường nệm cho bạn giấc ngủ &ecirc;m &aacute;i</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Gần c&aacute;c si&ecirc;u thị tiện lợi, c&aacute;c qu&aacute;n ăn</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Hệ thống nước n&oacute;ng to&agrave;n bộ</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Tủ quần &aacute;o cho bạn sắp xếp đồ đạc gọn g&agrave;ng</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Nội thất hiện đại, cao cấp v&agrave; sang trọng</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Đặc biệt c&oacute; ban c&ocirc;ng đảm bảo cho căn ph&ograve;ng bạn lu&ocirc;n tho&aacute;ng đ&atilde;ng, ri&ecirc;ng tư</p>
<p class="\\\&quot;MsoNormal\\\&quot;">- Tất cả mọi thứ tuyệt vời tr&ecirc;n ch&uacute;ng t&ocirc;i d&agrave;nh cho bạn với gi&aacute; chỉ 7 triệu/th&aacute;ng</p>', 7000000.0000, 3000.0000, 2000.0000, 7000.0000, 100, 0, 1, 1, 1, 0, 0, 2, N'Tây Bắc', 3, 3, 1, 15, CAST(0xA03C0B00 AS Date), 2, 1, 1, N'image/9.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (226, 3, 11, N'CĂN HỘ VILLA ĐƯỜNG PHẠM VĂN HAI, TIỆN NGHI CAO CẤP', N'Trà Bồng, Quảng Ngãi, Việt Nam', CAST(15.25126450 AS Decimal(10, 8)), CAST(108.49882690 AS Decimal(11, 8)), N'<p>Ph&ograve;ng rộng 25m2 c&oacute; ban c&ocirc;ng, cửa sổ tho&aacute;ng m&aacute;t, đầy đủ tiện nghi:&nbsp;</p>
<p>- M&aacute;y lạnh.&nbsp;</p>
<p>- Tủ lạnh.&nbsp;</p>
<p>- Giường, nệm.&nbsp;</p>
<p>- Tủ quần &aacute;o.&nbsp;</p>
<p>- B&agrave;n l&agrave;m vi&ecirc;̣c.&nbsp;</p>
<p>- M&aacute;y Nước n&oacute;ng năng lượng mặt trời.&nbsp;</p>
<p>- Wifi t&ocirc;́c đ&ocirc;̣ cao (2 line 20Mb).&nbsp;</p>
<p>- M&aacute;y giặt d&ugrave;ng chung miễn ph&iacute;.&nbsp;</p>
<p>- Toilet trong ph&ograve;ng, c&oacute; v&aacute;ch ngăn cao cấp</p>
<p>* Tiện &iacute;ch t&ograve;a nh&agrave;:</p>
<p>Giờ giấc tự do kh&ocirc;ng chung chủ, được nấu ăn, c&oacute; chỗ để xe miễn ph&iacute;, s&acirc;n phơi r&ocirc;̣ng r&atilde;i tho&aacute;ng m&aacute;t</p>
<p>C&oacute; m&aacute;y giặt, bếp lớn, khu cafeteria tr&ecirc;n s&acirc;n thượng, thang m&aacute;y, khu vực tiếp kh&aacute;ch cao cấp</p>', 10000000.0000, 3000.0000, 2000.0000, 6000.0000, 40, 0, 1, 0, 0, 1, 0, 3, N'Đông Nam', 2, 4, 2, 10, CAST(0xA03C0B00 AS Date), 2, 1, 1, N'image/13.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (229, 3, 11, N'CĂN HỘ 55M2, LẦU 10 CHUNG CƯ KHANG GIA, TÂN HƯƠNG', N'Sông Trà Khúc, Quảng Ngãi, Việt Nam', CAST(15.14223200 AS Decimal(10, 8)), CAST(108.88782780 AS Decimal(11, 8)), N'<p>Cho thu&ecirc; Căn Hộ 55m2 Lầu 10 mới sử dụng Chung Cư Khang Gia T&acirc;n Hương ngay mặt tiền đường T&acirc;n Hương, trung t&acirc;m quận Sơn Tịnh, nh&agrave; lầu cao, tho&aacute;ng m&aacute;t, y&ecirc;n tĩnh v&agrave; trống giao ngay, 2 thang m&aacute;y v&agrave; 2 thang bộ cho mỗi khối nh&agrave;. Căn hộ c&oacute; cửa ch&iacute;nh hướng Ch&iacute;nh Bắc (lệch ch&uacute;t về hướng T&acirc;y). Ph&iacute;a sau view ra Hồ Bơi của chung cư.</p>
<p>B&ecirc;n dưới c&oacute; nhiều tiện &iacute;ch như: Hồ bơi, si&ecirc;u thị mini, cafe,... Vị tr&iacute; chỉ c&aacute;ch chợ T&acirc;n Hương 300m, si&ecirc;u thị AEON Mall 500m, khu phức hợp Celadon City 500m, gần Trường cấp 1-2, bệnh viện Quận, nh&agrave; thờ T&acirc;n Hương, khu du lịch Đầm Sen,&hellip;chỉ c&aacute;ch s&acirc;n bay T&acirc;n Sơn Nhất 10 ph&uacute;t, c&aacute;ch Trung T&acirc;m Th&agrave;nh Phố chỉ 15 ph&uacute;t đi xe,&hellip;</p>
<p>Nội thất cơ bản gồm: 1 ph&ograve;ng kh&aacute;ch rộng (c&oacute; thể l&agrave;m th&ecirc;m th&agrave;nh 1 ph&ograve;ng ngủ di động), 1 ph&ograve;ng ngủ, 1 s&acirc;n giặt + phơi, 1 toilet, tủ bếp tr&ecirc;n/dưới, bồn rửa ch&eacute;n, điện, nước,&hellip;</p>
<p>G&iacute;a thu&ecirc;: 6 triệu/th&aacute;ng (kh&ocirc;ng t&iacute;nh điện - nước &ndash; ph&iacute; quản l&yacute; chung cư). Thanh to&aacute;n tiền thu&ecirc; v&agrave;o c&aacute;c ng&agrave;y đầu th&aacute;ng/đầu hợp đồng.</p>
<p>Ưu ti&ecirc;n cho người thu&ecirc; ổn định, l&acirc;u d&agrave;i (&iacute;t nhất 1 năm). Cọc 2 th&aacute;ng tiền thu&ecirc; nh&agrave;.</p>', 15000000.0000, 4000.0000, 4000.0000, 7000.0000, 100, 0, 1, 1, 1, 1, 1, 2, N'Tây Bắc', 4, 5, 2, 3, CAST(0xA03C0B00 AS Date), 5, 1, 0, N'image/17.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (230, 5, 7, N'Tìm người ở ghép ở Sơn Tịnh', N'Tịnh Bình, Sơn Tịnh, Quảng  Ngãi', CAST(0.00000000 AS Decimal(10, 8)), CAST(0.00000000 AS Decimal(11, 8)), N'<p>Cần Tuyển bạn nam ở gh&eacute;p để share tiền ph&ograve;ng. ph&ograve;ng rộng r&atilde;i tho&aacute;ng m&aacute;t. wifi&nbsp;, c&oacute; b&atilde;i xe ri&ecirc;ng, giờ giấc tự do, quận b&igrave;nh t&acirc;n, nam ở gh&eacute;p quận b&igrave;nh t&acirc;n,</p>
<p>Cần nam ở gh&eacute;p căn hộ/ share ph&ograve;ng quận b&igrave;nh t&acirc;n</p>
<p>Kh&ocirc;ng gian y&ecirc;n tĩnh t&ocirc;n trọng sự ri&ecirc;ng tư</p>
<p>Diện t&iacute;ch 60m2/ - 2 ph&ograve;ng ngủ- quận b&igrave;nh t&acirc;n</p>
<p>Gi&aacute; :900.000/người</p>
<p>Địa chỉ : chung cư Nguyễn Quyền, Tịnh B&igrave;nh, Sơn Tịnh, Quảng Ng&atilde;i.</p>
<p>Bạn n&agrave;o c&oacute; nhu cầu li&ecirc;n hệ : Mr.Ph&aacute;t: 0967 647 115 /</p>', 900000.0000, 0.0000, 3000.0000, 5000.0000, 60, 0, 1, 0, 1, 0, 0, 3, N'', 0, 0, 1, 1, CAST(0xA03C0B00 AS Date), 4, 1, 1, N'image/5.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (232, 5, 7, N'Tìm nữ ở ghép', N'', CAST(0.00000000 AS Decimal(10, 8)), CAST(0.00000000 AS Decimal(11, 8)), N'<p>C&Acirc;̀N TÌM NỮ Ở GHÉP NHÀ NGUY&Ecirc;N CĂN G&Acirc;̀N CHỢ HÒA HƯNG, C&Ocirc;NG VI&Ecirc;N L&Ecirc; THỊ RI&Ecirc;NG, SI&Ecirc;U THỊ BIC C, TRẠM XE BUÝT VÀ CÁC TRƯỜNG ĐẠI HỌC.</p>
<p>NHÀ THOÁNG MÁT CÓ LAN CAN, SẠCH SẼ AN NINH. CÓ CH&Ocirc;̃ Đ&Ecirc;̉ XE AN TOÀN, ĐI&Ecirc;̣N NƯỚC _ WI-FI &nbsp;GIÁ NHÀ NƯỚC.</p>
<p>GIÁ : 800k/1N / tháng.</p>
<p>BẠN NÀO CÓ NHU C&Acirc;̀U XIN LI&Ecirc;N H&Ecirc;̣ :0902952191 Gặp chị HI&Ecirc;̣P&nbsp;</p>', 800000.0000, 3000.0000, 0.0000, 5000.0000, 59, 1, 1, 1, 1, 1, 1, 3, N'đông bắc', 1, 1, 2, 19, CAST(0xA03C0B00 AS Date), 5, 1, 1, N'image/9.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (234, 5, 7, N'Tìm nữ ở ghép chung cư', N'trà đú, trà bồng, Quảng Ngãi', CAST(0.00000000 AS Decimal(10, 8)), CAST(0.00000000 AS Decimal(11, 8)), N'<p>- CẦN 1 NỮ Ở GH&Eacute;P Q.7 - căn hộ cao cấp Bellaza. FULL NỘI THẤT. (chỉ cần x&aacute;ch vali v&agrave;o v&agrave; ở)</p>
<p>- Toạ lạc: 2, Hẻm 23, Phạm Hữu Lầu, Ph&uacute; Mỹ, Quận 7, Tp.HCM</p>
<p>- Ưu ti&ecirc;n d&acirc;n văn ph&ograve;ng, ổn định, sạch sẽ hoặc sinh vi&ecirc;n ko h&uacute;t thuốc, ko tệ nạn, kh&ocirc;ng qu&aacute; nhiều đồ.&nbsp;</p>
<p>- C&aacute;ch trung t&acirc;m quận 1 - 10p, gần đh RMIT, đh T&ocirc;n Đức Thắng, sau lưng Cresent mall, gần Sc vivo, Lotte mart Q7.</p>
<p>LH : 0901.003.338 - Ms Anh</p>
<p>Gi&aacute; : 1,5tr/ng - cọc 1 th&aacute;ng, HĐ 1 năm.</p>', 1500000.0000, 4000.0000, 2500.0000, 10000.0000, 92, 0, 1, 0, 1, 0, 0, 3, N'', 2, 2, 2, 11, CAST(0xA03C0B00 AS Date), 4, 1, 1, N'image/12.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (235, 3, 12, N'CĂN HỘ DOANH NHÂN SANG SẠCH ĐẸP, YÊN TĨNH, SÁT CÔNG VIÊN', N'Hòa Bình 7, Hòa Quý, Đà Nẵng, Việt Nam', CAST(15.98882590 AS Decimal(10, 8)), CAST(108.23237400 AS Decimal(11, 8)), N'<p>- Ph&ugrave; hợp với đẳng cấp doanh nh&acirc;n.</p>
<p>- Hợp phong thủy mang lại vận may l&agrave;m ăn kinh doanh?</p>
<p>- Kh&iacute; vận tốt mang lại sức khỏe cho gia đ&igrave;nh?</p>
<p>- Thuận lợi trong c&ocirc;ng việc?</p>
<p>- Tiện lợi di chuyển cho c&ocirc;ng việc của bạn?</p>
<p>- Tự do thoải m&aacute;i, an ninh đảm bảo như ch&iacute;nh nh&agrave; của bạn?</p>
<p>Ch&uacute;ng t&ocirc;i tự h&agrave;o giới thiệu bạn 1 căn hộ tuyệt vời sau:</p>
<p>ĐỊA CHỈ: C&aacute;ch mạng th&aacute;ng 8, Phường 13, Quận 10</p>
<p>- Đường rộng tho&aacute;ng m&aacute;t, thuộc khu d&acirc;n tr&iacute; cao. Nằm ngay khu trung t&acirc;m, c&oacute; thể đi sang nhiều quận nhanh nhất, Gần chợ, gần trường đại học,ng&acirc;n h&agrave;ng ...</p>
<p>Căn hộ Quận 10 c&oacute; c&aacute;c tiện &iacute;ch xung quanh như khu vực t&ograve;a nh&agrave; văn ph&ograve;ng, coffee,... &nbsp;nơi c&oacute; nhiều người nước ngo&agrave;i sinh sống v&agrave; l&agrave;m việc.&nbsp;</p>
<p>Tọa lạc tại khu d&acirc;n cư cao cấp, an ninh v&agrave; cực k&igrave; y&ecirc;n tĩnh. Giao th&ocirc;ng thuận tiện di chuyển đến trung t&acirc;m Q.1, Q.T&acirc;n B&igrave;nh, Q.5, Q.3... Khu vực sống xanh - sạch - đẹp, an ninh, y&ecirc;n tĩnh.</p>
<p>Kế b&ecirc;n c&oacute; c&ocirc;ng vi&ecirc;n nội bộ tho&aacute;ng m&aacute;t trong l&agrave;nh. Ho&agrave;n thiện hạ tầng tiện &iacute;ch xung quanh: trung t&acirc;m thương mại, si&ecirc;u thị, bệnh viện, spa, massage,... Bạn sẽ được trải nghiệm cảm gi&aacute;c tuyệt vời khi l&agrave; cư d&acirc;n VIP.</p>', 3000000.0000, 5000.0000, 3000.0000, 7000.0000, 60, 1, 1, 1, 0, 0, 0, 3, N'Tây Bắc', 4, 4, 2, 19, CAST(0xA03C0B00 AS Date), 1, 1, 1, N'image/20.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (237, 3, 12, N'CĂN HỘ CAO CẤP CHO THUÊ, CÓ BẾP, MÁY GIẶT, RỘNG RÃI, GIỜ GIẤC TỰ DO. LH: 009.670.9877', N'tt. Trà Xuân, Quảng Ngãi, Việt Nam', CAST(15.25792440 AS Decimal(10, 8)), CAST(108.51960280 AS Decimal(11, 8)), N'<p>+ Ngay chợ Phạm Văn Hai, khu ăn uống,karaoke, mua sắm, văn ph&ograve;ng.</p>
<p>- Ph&ograve;ng nằm cạnh trung t&acirc;m Quận 10, thuận tiện đi lại c&aacute;c quận nội th&agrave;nh như 5p đến Q1, Q3,..</p>
<p>+ Gần nhiều trường ĐH: Đại học B&aacute;ch Khoa, Học Viện Qu&acirc;n Y. ĐH Ngoại Ngữ Tin Học, đại học Y Dược.</p>
<p>+ Gần nhiều bệnh viện lớn như Viện Tim, bệnh viện 115, Nhi Đồng 1, bệnh viện Chợ Rẫy,...</p>
<p>+ Gần nhiều khu mua sắm như si&ecirc;u thị Maximark 3/2,Superbowl, chợ B&agrave;n Cờ, gần nhiều ng&acirc;n h&agrave;ng,..</p>
<p>+ Gần nhiều khu trung t&acirc;m ăn uống như Sư Vạn Hạnh, Nguyễn Tri Phương,...</p>
<p>+ Khu nh&agrave; ở rất an ninh, gần c&ocirc;ng an phường 12, Quận T&acirc;n B&igrave;nh.</p>
<p>+ Gần bệnh viện, trạm xăng, nh&agrave; văn h&oacute;a, c&ocirc;ng vi&ecirc;n Ho&agrave;ng Văn Thụ.....</p>
<p>* N&ocirc;̣i th&acirc;́t.</p>
<p>Ph&ograve;ng rộng 20m2 c&oacute; WC ri&ecirc;ng, ban c&ocirc;ng, cửa sổ tho&aacute;ng m&aacute;t, View đẹp, &nbsp;đầy đủ tiện nghi cao cấp:</p>
<p>- M&aacute;y lạnh.</p>
<p>- Tủ lạnh.</p>
<p>- Giường gỗ, nệm l&ograve; xo, bộ drap gối cao cấp</p>
<p>- Tủ quần &aacute;o gỗ 4 c&aacute;nh</p>
<p>- Bàn ghế làm vi&ecirc;̣c.</p>
<p>- Bộ sofa b&agrave;n k&iacute;nh cường lực</p>
<p>- M&aacute;y Nước n&oacute;ng</p>
<p>- M&aacute;y giặt</p>
<p>- Bồn tắm massage cao cấp</p>
<p>- Wifi t&ocirc;́c đ&ocirc;̣ cao đặt ngay trong ph&ograve;ng (2 line 30Mb).</p>
<p>- Tivi LCD 32 inch</p>
<p>- Truyền h&igrave;nh c&aacute;p (miễn ph&iacute;)</p>
<p>- Bạn b&egrave; đến chơi tự do thoải m&aacute;i</p>
<p>- Cho nấu ăn c&oacute; trang bị bếp từ</p>', 5000000.0000, 3000.0000, 2000.0000, 7000.0000, 40, 0, 1, 0, 1, 1, 1, 3, N'Tây Bắc', 3, 5, 2, 9, CAST(0xA03C0B00 AS Date), 1, 1, 1, N'image/28.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (239, 5, 7, N'Cần phòng ở ghép cho nam', N'Hòa Tan Ngũ Hành Sơn Đà nẵng', CAST(0.00000000 AS Decimal(10, 8)), CAST(0.00000000 AS Decimal(11, 8)), N'<p>Hiện m&igrave;nh cần t&igrave;m ph&ograve;ng cần người ở gh&eacute;p, c&ograve;n 1 ph&ograve;ng trống</p>
<p>&nbsp;</p>', 900000.0000, 2993.0000, 0.0000, 0.0000, 50, 0, 1, 0, 1, 0, 1, 1, N'', 5, 0, 1, 16, CAST(0xA03C0B00 AS Date), 10, 1, 0, N'image/default.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (240, 3, 12, N'CHO THUÊ CĂN HỘ MINI DÀNH CHO HỘ GIA ĐÌNH, NHÂN VIÊN VĂN PHÒNG, SINH VIÊN', N'Tịnh Thiện, Thành phố Quảng Ngãi, Quảng Ngãi, Việt Nam', CAST(15.18199290 AS Decimal(10, 8)), CAST(108.84920700 AS Decimal(11, 8)), N'<p>C&oacute; phải bạn muốn một căn hộ thoải m&aacute;i, tho&aacute;ng m&aacute;t? một nơi y&ecirc;n tĩnh, an ninh? c&oacute; lối đi rộng,gần nơi l&agrave;m việc?</p>
<p>Căn hộ mini, khu vực gần s&acirc;n bay gần c&ocirc;ng vi&ecirc;n Gia định, gần chợ Phạm Văn Hai, chợ T&acirc;n Sơn nhất, khu vực an ninh cực tốt gồm:</p>
<p>-2 ph&ograve;ng ngủ, 1 bếp, 1 sảnh l&agrave;m việc học tập, c&oacute; nh&agrave; vệ sinh ri&ecirc;ng, c&oacute; s&acirc;n vườn nhỏ ph&iacute;a sau.</p>
<p>ph&ograve;ng rộng r&atilde;i tho&aacute;ng m&aacute;t, c&oacute; chỗ để xe ri&ecirc;ng, bảo vệ 24/24&nbsp;</p>
<p>đảm bảo xem ph&ograve;ng sẽ th&iacute;ch ngay, Ưu ti&ecirc;n người tới trước!</p>
<p>Li&ecirc;n hệ xem ph&ograve;ng: 0166.446.4487&nbsp;gặp anh&nbsp;Thanh</p>', 3000000.0000, 3000.0000, 4000.0000, 600000.0000, 40, 1, 0, 1, 1, 1, 0, 2, N'Tây Bắc', 3, 3, 1, 6, CAST(0xA03C0B00 AS Date), 0, 1, 0, N'image/36.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (241, 5, 8, N'Tìm phòng ở ghép 2 nữ ', N'Tịnh Sơn, Sơn Tịnh, Quảng Ngãi, Việt Nam', CAST(15.16059380 AS Decimal(10, 8)), CAST(108.70663980 AS Decimal(11, 8)), N'<p>Cần t&igrave;m 1-2 nữ ờ gh&eacute;p, t&iacute;nh t&igrave;nh vui vẻ, th&acirc;n thiện, đang đi học hoặc đ&atilde; đi l&agrave;m! ph&ograve;ng tho&aacute;ng m&aacute;t, c&oacute; cửa sổ, c&oacute; s&acirc;n thượng, c&oacute; nh&agrave; vệ sinh ri&ecirc;ng, c&oacute; wifi, truyền h&igrave;nh c&aacute;p miễn ph&iacute;, rất an ninh, c&oacute; bảo vệ giữ xe, c&oacute; camera quan s&aacute;t, xe để tầng trệt, chỗ phơi đồ rất rộng, c&oacute; chỗ nấu ăn. gần chợ rất thuận tiện, bancong nh&igrave;n xuống s&acirc;n tenis rất đẹp, hiện tại ph&ograve;ng c&oacute; 1 người n&ecirc;n cần t&igrave;m nữ ở gh&eacute;p.&nbsp;</p>
<p>Gi&aacute; ph&ograve;ng 1TR6.</p>
<p>Điện nước th&ecirc;m khoảng 100k/người/th&aacute;ng, li&ecirc;n hệ với m&igrave;nh trước để đến xem ph&ograve;ng! 0938080764</p>', 1600000.0000, 350000.0000, 25000.0000, 5000.0000, 19, 0, 0, 0, 0, 1, 1, 1, N'Nam', 1, 3, 1, 4, CAST(0xA03C0B00 AS Date), 16, 1, 0, N'image/11.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (242, 2, 13, N'NHÀ NGUYÊN CĂN (54M2) – SẠCH SẼ, CÓ SÂN MÁT, KHU VỰC TRỒNG RAU, ĐƯỜNG GÒ CÁT', N'Agribank Tra Bong, tt. Trà Xuân, Trà Xuân, Quảng Ngãi, Việt Nam', CAST(15.25572280 AS Decimal(10, 8)), CAST(108.51541320 AS Decimal(11, 8)), N'<p>Nh&agrave; nhỏ 1 trệt+ 1 lầu (WC đẹp c&oacute; đủ lavabo, sen, xịt vs, kho nhỏ chứa đồ, bếp), c&oacute; s&acirc;n sau ri&ecirc;ng phơi đồ, giếng trời. DT sử dụng 27m2, đồng hồ điện lực gi&aacute; nh&agrave; nước (1.470đ/kwh). &nbsp;&nbsp;</p>
<p>Nh&agrave; khang trang, tường ốp gạch men, nhiều cửa sổ tho&aacute;ng m&aacute;t, h&agrave;ng x&oacute;m hiền h&ograve;a, khu vực an ninh tốt.</p>
<p>To&agrave;n khu nh&agrave; c&oacute; cổng an ninh, mỗi hộ gia đ&igrave;nh c&oacute; ch&igrave;a kh&oacute;a ri&ecirc;ng tự đ&oacute;ng mở.</p>
<p class="\&quot;\\&quot;\\\\&quot;MsoNormal\\\\&quot;\\&quot;\&quot;">Hẻm xe hơi, gần chợ Ph&uacute; Thuận, c&aacute;ch Paragon PMH 1200m. &nbsp;</p>
<p class="\&quot;\\&quot;\\\\&quot;MsoNormal\\\\&quot;\\&quot;\&quot;">Ph&ugrave; hợp gia đ&igrave;nh ở, gần Ph&uacute; Mỹ Hưng, KCX T&acirc;n Thuận, tiện về Q Tr&agrave; Bồng, Nh&agrave; B&egrave;.</p>
<p class="\&quot;\\&quot;\\\\&quot;MsoNormal\\\\&quot;\\&quot;\&quot;">Gi&aacute; thu&ecirc;: ph&ograve;ng trống gi&aacute; 2,1tr/1 th&aacute;ng.&nbsp; Wifi miễn ph&iacute;.</p>
<p class="\&quot;\\&quot;\\\\&quot;MsoNormal\\\\&quot;\\&quot;\&quot;">Đ/c: 1135/63 Huỳnh Tấn Ph&aacute;t, KP3, Ph&uacute; Thuận Q.Tr&agrave; Bồng. (V&agrave;o hẻm 1135 đi thẳng đến số 1135/41 quẹo tr&aacute;i, l&ecirc;n 100m nh&igrave;n b&ecirc;n phải thấy d&atilde;y nh&agrave; mới x&acirc;y sơn v&agrave;ng).</p>
<p class="\&quot;\\&quot;\\\\&quot;MsoNormal\\\\&quot;\\&quot;\&quot;">ĐT: 0984711872</p>', 2100000.0000, 3000.0000, 4000.0000, 4000.0000, 30, 1, 1, 1, 0, 1, 0, 2, N'Tây Nam', 3, 3, 2, 10, CAST(0xA03C0B00 AS Date), 1, 1, 1, N'image/40.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (243, 5, 8, N'Tìm 1 Nam ở ghép', N'Hòa Vang, Đà Nẵng, Việt Nam', CAST(15.99998800 AS Decimal(10, 8)), CAST(108.14579940 AS Decimal(11, 8)), N'<p>Cần nam ở gh&eacute;p nh&agrave; nguy&ecirc;n căn đường B&ugrave;i Quang L&agrave; (Gần ng&atilde; tư Quang Trung - Phan Huy &Iacute;ch).</p>
<p>Nh&agrave; ri&ecirc;ng, kh&ocirc;ng chung chủ, giờ giấc tự do, tho&aacute;ng m&aacute;t, c&oacute; chỗ để xe, nấu ăn, xung quanh rất nhiều h&agrave;ng qu&aacute;n, gần chợ, cafe, đ&aacute; banh, ph&ograve;ng Gym, cửa h&agrave;ng tiện lợi....&nbsp;</p>
<p>Khu d&acirc;n cư y&ecirc;n tĩnh, gần trạm x&aacute;, c&ocirc;ng an phường, chốt tổ d&acirc;n phố...</p>
<p>Mỗi người c&oacute; 1 ch&igrave;a kh&oacute;a ri&ecirc;ng, c&oacute; camera quan s&aacute;t 24/24, an ninh tuyệt đối.&nbsp;</p>
<p>Tiền nh&agrave; mỗi người 700k 1 th&aacute;ng, lu&ocirc;n giữ nguy&ecirc;n kh&ocirc;ng đổi d&ugrave; nh&agrave; c&oacute; đủ người hay chưa</p>
<p>Tiền điện, nước theo h&oacute;a đơn ch&iacute;nh chủ n&ecirc;n rất rẻ, chia đều theo đầu người d&ugrave;ng thoải m&aacute;i chỉ khoảng 60k.</p>
<p>Y&ecirc;u cầu:</p>
<p>- Giấy tờ đầy đủ</p>
<p>- Anh em h&ograve;a đồng, t&ocirc;n trọng nhau, phải c&oacute; &yacute; thức giữ g&igrave;n vệ sinh chung.</p>
<p>- Kh&ocirc;ng tuyển GAY, kh&ocirc;ng quậy ph&aacute; xăm trổ.</p>
<p>- Đặt cọc 300k. Nếu muốn chuyển đi, BẮT BUỘC b&aacute;o m&igrave;nh trước 1 tuần, m&igrave;nh ho&agrave;n trả lại đầy đủ</p>
<p>Li&ecirc;n hệ: O9O2.33.15.1O (Để lại SMS nếu ko thấy m&igrave;nh nghe m&aacute;y nh&eacute;, m&igrave;nh sẽ li&ecirc;n lạc lại)</p>
<p>Địa chỉ: 84/32 B&ugrave;i Quang L&agrave;, phường 12, G&ograve; Vấp</p>
<p>(C&ograve;n tin l&agrave; c&ograve;n tuyển - Khi đến xem nh&agrave; nhớ gọi trước v&igrave; m&igrave;nh hay đi ra ngo&agrave;i)</p>', 700000.0000, 40000.0000, 20000.0000, 20000.0000, 65, 0, 1, 0, 1, 1, 0, 1, N'đông', 2, 2, 1, 15, CAST(0xA03C0B00 AS Date), 6, 1, 1, N'image/14.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (244, 2, 13, N'NHÀ NGUYÊN CĂN CHO THUÊ GẦN NGÃ TƯ HÀNG XANH ', N'Nam Kỳ Khởi Nghĩa, Hòa Hải, Đà Nẵng, Việt Nam', CAST(15.97808630 AS Decimal(10, 8)), CAST(108.26181960 AS Decimal(11, 8)), N'<p>Bạn sẽ l&agrave; chủ của căn nh&agrave; tiện nghi sang trọng chỉ với gi&aacute; cực k&igrave; hấp dẫn 7tr/th&aacute;ng`45m2 kết cấu gồm 1 trệt 1 lầu.2phong ngủ 1 ph&ograve;ng kh&aacute;ch bếp&nbsp;</p>
<p>- Nh&agrave; rộng tho&aacute;ng m&aacute;t, khu d&acirc;n cư tiện nghi th&iacute;ch hợp cho sinh vi&ecirc;n, gia đ&igrave;nh, người đi l&agrave;m văn minh, lịch sự.</p>
<p>Hướng đi qua Q.1, Q2, GV 9.TĐ.......</p>
<p>Đặc điểm ph&ograve;ng:</p>
<p>- Ph&ograve;ng rộng với s&agrave;n nh&agrave; l&aacute;t gạch s&aacute;ng b&oacute;ng sạch sẽ, tho&aacute;ng m&aacute;t.</p>
<p>- Cửa sổ,ban c&ocirc;ng rộng đ&oacute;n kh&iacute; trời v&agrave;o nh&agrave;, tiết kiệm được b&oacute;ng đ&egrave;n v&agrave;o ban ng&agrave;y.</p>
<p>Đặt cọc: 1 th&aacute;ng tiền nh&agrave; (đảm bảo hợp đồng d&agrave;i hạn trong suốt qu&aacute; tr&igrave;nh ở v&agrave; cam kết ho&agrave;n trả 100% cọc khi kết th&uacute;c hợp đồng).</p>
<p>Đặc biệt d&agrave;nh ri&ecirc;ng cho kh&aacute;ch h&agrave;ng lịch sự, tri thức, phong c&aacute;ch đẳng cấp mong muốn sống cuộc sống tự do, tiện nghi. Gọi ngay chủ nh&agrave; để hẹn giờ v&agrave; xem nh&agrave;</p>
<p>Hẹn gặp lại c&aacute;c bạn trong căn nh&agrave; tự do, tiện nghi, sang trọng của ri&ecirc;ng bạn!</p>', 2100000.0000, 3000.0000, 3000.0000, 5000.0000, 40, 1, 1, 0, 0, 1, 1, 2, N'Tây Nam', 3, 2, 1, 14, CAST(0xA03C0B00 AS Date), 2, 1, 1, N'image/44.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (246, 5, 8, N'Tìm 1 nữ ở ghép với mình tại Đà Nẵng ưu tiên sinh viên', N'Hòa Thuân Ngũ Hành Sơn Đà Nẵng', CAST(0.00000000 AS Decimal(10, 8)), CAST(0.00000000 AS Decimal(11, 8)), N'<p>M&igrave;nh l&agrave; d&acirc;n văn ph&ograve;ng qu&ecirc; ở B&igrave;nh Định,mới thu&ecirc; ph&ograve;ng trọ gi&aacute; 1,3 triệu/ph&ograve;ng/&nbsp;th&aacute;ng , gần ng&atilde; ba T&acirc;n Sơn- Quang Trung. Ph&ograve;ng tho&aacute;ng ,WC ri&ecirc;ng,c&oacute; chỗ phơi đồ, wifi, chỗ để xe ri&ecirc;ng an to&agrave;n, gần chợ.</p>
<p>M&igrave;nh ở tr&ecirc;n g&aacute;c, tầng dưới c&ograve;n kh&aacute; rộng n&ecirc;n cần th&ecirc;m người ở gh&eacute;p&nbsp;share tiền ph&ograve;ng. Nếu l&agrave; Sinh vi&ecirc;n muốn ở m&igrave;nh chỉ lấy tiền ph&ograve;ng l&agrave; 500k.</p>
<p>Y&ecirc;u cầu phải lịch sự, trung thực.</p>', 550000.0000, 20000.0000, 10000.0000, 5000.0000, 20, 1, 0, 0, 0, 1, 0, 3, N'bắc', 1, 2, 2, 18, CAST(0xA03C0B00 AS Date), 20, 1, 1, N'image/19.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (247, 2, 13, N'CHO THUÊ NHÀ NGUYÊN CĂN MỚI, THOÁNG MÁT,SẠCH ĐẸP, AN NINH', N'Hòa Thuận Tây, Đà Nẵng, Việt Nam', CAST(16.04669470 AS Decimal(10, 8)), CAST(108.20958000 AS Decimal(11, 8)), N'<p>Cho thu&ecirc; nh&agrave; nguy&ecirc;n căn mới sơn sửa lại, nh&agrave; đ&uacute;c 1 tấm thật, c&oacute; cổng r&agrave;o.</p>
<p>Diện t&iacute;ch sử dụng 88m2, 2 ph&ograve;ng ngủ, 2 toilet, 1 bếp, nh&agrave; sạch sẽ, tho&aacute;ng m&aacute;t, khu an ninh, đường nhựa trước nh&agrave; 8m - xe tải, xe hơi v&agrave;o được tận nh&agrave;, tiện cho gia đ&igrave;nh thu&ecirc; hoặc kinh doanh văn ph&ograve;ng cty.&nbsp;</p>
<p>Địa chỉ nh&agrave;: 55/13/7 Đường số 18B, KP 1, Phường B&igrave;nh Hưng Ho&agrave; A, Quận Ngũ H&agrave;nh Sơn! Giao th&ocirc;ng tiện lợi, gần AEON Celadon, chợ L&ecirc; Văn Quới, ra Quốc lộ gần.</p>
<p>Mọi chi tiết xin li&ecirc;n hệ <strong>Mr Ch&aacute;nh&nbsp;0975 989 996</strong> hoặc Ms Anh 096 999 8986 nh&agrave; ch&iacute;nh chủ.</p>
<p>Xem nh&agrave; v&agrave;o cuối tuần. Tiếp kh&aacute;ch thiện ch&iacute; (MTG)</p>', 4000000.0000, 2000.0000, 3000.0000, 5000.0000, 80, 1, 1, 1, 1, 0, 0, 3, N'Tây Nam', 3, 2, 1, 18, CAST(0xA03C0B00 AS Date), 0, 1, 1, N'image/44.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (248, 2, 13, N'NHÀ CHO THUÊ NGUYÊN CĂN, LÊ VĂN LƯƠNG, NGUYỄN BÌNH, NHÀ BÈ', N'Sông Trà Khúc, Quảng Ngãi, Việt Nam', CAST(15.14985540 AS Decimal(10, 8)), CAST(108.65170640 AS Decimal(11, 8)), N'<p>- Tầng trệt: 1 ph&ograve;ng kh&aacute;ch, 1 nh&agrave; bếp, 1 WC&nbsp;<br />- Tầng 1: 2 ph&ograve;ng ngủ. 1 wc&nbsp;<br />- Tầng 2: 2 ph&ograve;ng ngủ, 1 wc&nbsp;<br />- Vị tr&iacute;: ng&atilde; tư nguyễn b&igrave;nh, KDC đ&ocirc;ng đ&uacute;c, anh ninh , nh&agrave; &nbsp;mặt tiền</p>
<p>- Đi qua Trung t&acirc;m th&agrave;nh phố 20p, qua Ph&uacute; Mỹ Hưng 10p, ĐH T&ocirc;n Đức Thắng- Lotte Mart từ 5p-10p.</p>
<p>- Đường hẻm rộng cho xe hơi ra v&agrave;o, điện nước nh&agrave; nước&nbsp;</p>
<p>Li&ecirc;n hệ: anh Triết. Sdt 01677944498&nbsp;</p>', 7000000.0000, 3000.0000, 2000.0000, 5000.0000, 70, 1, 1, 1, 1, 1, 1, 2, N'Tây Bắc', 3, 2, 2, 4, CAST(0xA03C0B00 AS Date), 0, 1, 1, N'image/47.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (249, 5, 8, N'Tìm 2 nam ở ghép', N'Hoa Trà, Ho Chi Minh-stad, Hồ Chí Minh, Việt Nam', CAST(10.79782740 AS Decimal(10, 8)), CAST(106.69177640 AS Decimal(11, 8)), N'<p>Hiện tại bọn m&igrave;nh đang cần một người ở gh&eacute;p tại địa chỉ 169/25 Trần Văn Đang, Q.3.</p>
<p>Ph&ograve;ng sạch sẽ tho&aacute;ng m&aacute;t, nh&agrave; vệ sinh ri&ecirc;ng, diện t&iacute;ch khoảng 30m2, nấu ăn v&agrave; giờ giấc thoải m&aacute;i, kh&ocirc;ng chung chủ. chổ để xe ri&ecirc;ng. giờ giấc thoải m&aacute;i. Ph&ograve;ng c&oacute; ban c&ocirc;ng tho&aacute;ng m&aacute;t. Gần chợ, c&ocirc;ng vi&ecirc;n l&ecirc; thị ri&ecirc;ng, ga s&agrave;i g&ograve;n. gần c&aacute;c trường đại học như KHTN, BK, TNMT, ...</p>
<p>Ưu ti&ecirc;n nh&acirc;n vi&ecirc;n văn ph&ograve;ng.</p>
<p>Li&ecirc;n hệ: 0909428540</p>', 550000.0000, 2000.0000, 2000.0000, 10000.0000, 30, 0, 0, 0, 1, 1, 1, 3, N'tây nam', 1, 2, 1, 10, CAST(0xA03C0B00 AS Date), 21, 1, 1, N'image/22.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (251, 2, 13, N'NHÀ CHO THUÊ NGUYÊN CĂN RẤT ĐẸP', N'Hòa Bình 2, Hòa Quý, Đà Nẵng, Việt Nam', CAST(15.98836420 AS Decimal(10, 8)), CAST(108.23171800 AS Decimal(11, 8)), N'<p>Địa chỉ: Hẻm 220 Ho&agrave;ng Hoa Th&aacute;m (c&aacute;ch đường 30m) P.5, Quận Ngũ H&agrave;nh Sơn, Đ&agrave; Nẵng</p>
<p>DT s&agrave;n: 4m x 8,5 m. &nbsp;DTSD: 70m2</p>
<p>Nh&agrave; mới đẹp, đầy đủ tiện nghi, ph&ograve;ng ngủ c&oacute; m&aacute;y lạnh, c&oacute; m&aacute;y nước n&oacute;ng,1 trệt 1 lầu, 2WC ngay chợ C&acirc;y Qu&eacute;o gần trường học bệnh viện, an ninh tuyệt đối.</p>
<p>Ph&ugrave; hợp với người đi l&agrave;m, hộ gia đ&igrave;nh v&agrave; mở văn ph&ograve;ng kinh doanh</p>', 1200000.0000, 2000.0000, 3000.0000, 4000.0000, 50, 1, 0, 0, 1, 1, 0, 3, N'Đông Bắc', 1, 1, 2, 19, CAST(0xA03C0B00 AS Date), 1, 1, 0, N'image/52.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (252, 4, 9, N'Cho thuê mặt bằng ở Đà Nẵng', N'Hoang Thuan Hair Salon, Hoà Minh, Đà Nẵng, Việt Nam', CAST(16.06013470 AS Decimal(10, 8)), CAST(108.16308260 AS Decimal(11, 8)), N'<p>Cho thu&ecirc; MẶT BẰNG tại số 32 Đường &Iacute;ch Thiện, P. T&acirc;n Th&agrave;nh, Q. T&acirc;n Ph&uacute; (ngay chợ T&acirc;n Ph&uacute; 1). Mới&nbsp;x&acirc;y, đ&uacute;c BTCT đẹp, ki&ecirc;n cố, c&oacute; g&aacute;c, tolet ri&ecirc;ng, DT 35m2.</p>
<p>Vị tr&iacute; đắc địa, ngay trong l&ograve;ng chợ n&ecirc;n thuận tiện bu&ocirc;n b&aacute;n, kinh doanh mọi ng&agrave;nh nghề. Vừa KD, vừa sinh sống.&nbsp;</p>
<p>MP wifi v&agrave; c&aacute;p tivi.</p>
<p>Gi&aacute; 9,5 trd. Cọc 1 th&aacute;ng</p>
<p>LH:&nbsp;A Phi&ecirc;u: 094 7104594/</p>
<p>098 5517408</p>', 9500000.0000, 3000.0000, 2000.0000, 10000.0000, 33, 0, 0, 1, 0, 0, 1, 3, N'Đông', 1, 0, 3, 18, CAST(0xA03C0B00 AS Date), 10, 1, 1, N'image/28.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (254, 4, 9, N'Cho thuê mặt bằng rộng dễ buôn bán', N'Hoa Hop Coffee Shop, Đà Nẵng, Việt Nam', CAST(16.07390240 AS Decimal(10, 8)), CAST(108.15196160 AS Decimal(11, 8)), N'<p>Vidoland -cho thu&ecirc; văn ph&ograve;ng trọn g&oacute;i sang trọng, tiết kiệm, trung t&acirc;m T&acirc;n B&igrave;nh-s&acirc;n bay T&acirc;n Sơn Nhất.<br />IBC Office cho thu&ecirc; Văn ph&ograve;ng trọn g&oacute;i, tiện nghi hơn cả văn ph&ograve;ng truyền thống.&nbsp;</p>
<p>-*** T&ograve;a nh&agrave; văn ph&ograve;ng mặt tiền 6 tầng tại: Số B20 Đường Bạch Đằng, Phường 2, Q. T&acirc;n B&igrave;nh.&nbsp;<br />Diện t&iacute;ch: 20m2 - 40m2 &ndash; 60m2 &ndash; 80m2 &ndash; 120m2 &ndash; 150m2 &ndash; 200m2 &ndash; 400m2.&nbsp;<br />Gi&aacute; thu&ecirc;: Từ 5tr - 29tr/th (tỳ v&agrave;o diện t&iacute;ch SD chọn của doanh nghiệp).&nbsp;</p>
<p>***TIỆN &Iacute;CH:</p>
<p>-S&acirc;n thượng 100m2 c&oacute; sẵn hệ thống điện, nước rất th&iacute;ch hợp kinh doanh fast food, coffee....&nbsp;<br />- Văn ph&ograve;ng l&agrave;m việc sang trọng , nằm trong t&ograve;a nh&agrave; hạng A.<br />- Khu vực tiếp kh&aacute;ch khang trang, ph&ograve;ng họp chuy&ecirc;n nghiệp.<br />-Office cho thu&ecirc; &ndash; view sang trọng, tuyến đường huyết mạch Trường Sơn, Bạch Đằng &ndash; c&oacute; m&aacute;y ph&aacute;t điện tự động&hellip;.</p>
<p>-&nbsp;Office Vidoland view đẹp, long mạch nở hậu n&ecirc;n việc kinh doanh lu&ocirc;n thuận lợi v&agrave; ph&aacute;t đạt.&nbsp;</p>
<p>- Cam kết gi&aacute; so s&aacute;nh, c&oacute; rẻ hơn so to&agrave;n khu vực.&nbsp;<br />- Chất lượng phục vụ office ph&ugrave; hợp với gi&aacute; tiền qu&yacute; kh&aacute;ch h&agrave;ng đ&atilde; chọn thu&ecirc;.&nbsp;</p>
<p>- Nh&acirc;n vi&ecirc;n lễ t&acirc;n, IT, tạp vụ chuy&ecirc;n nghiệp, hỗ trợ to&agrave;n thời gian h&agrave;nh ch&iacute;nh.<br />- Hệ thống camera an ninh, hầm gửi xe đảm bảo, thang m&aacute;y hiện đại.<br />**Li&ecirc;n hệ xem ph&ograve;ng trực tiếp tại :B20- BẠCH ĐẰNG,P4,QUẬN T&Acirc;N B&Igrave;NH-TP.HCM.<br /><br />- Điện thoại: 0902 66 2874 Ms Đậm<br />- ĐC Gmail : nguyendam100@GAMIL.COM</p>', 1000000.0000, 2000.0000, 3000.0000, 0.0000, 38, 1, 0, 1, 1, 0, 0, 3, N'', 2, 0, 3, 17, CAST(0xA03C0B00 AS Date), 5, 1, 1, N'image/30.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (256, 4, 9, N'Cho thuê mặt bằng trung tâm thành phố', N'Hòa Hải, Đà Nẵng, Việt Nam', CAST(15.98655800 AS Decimal(10, 8)), CAST(108.26740920 AS Decimal(11, 8)), N'<p>Funroom Building quận T&acirc;n B&igrave;nh với vị tr&iacute; đắc địa, ngay cạnh TTTM, t&agrave;i ch&iacute;nh v&agrave; l&agrave; cửa ng&otilde; của TP Hồ Ch&iacute; Minh. Văn ph&ograve;ng cho thu&ecirc; quận t&acirc;n b&igrave;nh l&agrave; nơi l&yacute; tưởng cho c&aacute;c đơn vị danh tiếng v&agrave; l&agrave; bước khởi đầu, nền tảng cho mọi doanh nghiệp.</p>
<p>Tiện &iacute;ch bao gồm :</p>
<p>+ Giao th&ocirc;ng thuận tiện với quận 1, quận 3, b&igrave;nh thạnh, t&acirc;n ph&uacute;,v.v....Gần c&aacute;c trung t&acirc;m thương mại lớn nhất TP.HCM.</p>
<p>+ Văn ph&ograve;ng Funroom Building sở hữu tầm nh&igrave;n tho&aacute;ng đ&aacute;ng, kh&ocirc;ng kh&iacute; trong l&agrave;nh n&ecirc;n sẽ mang lại nguồn cảm hứng, niềm đam m&ecirc; v&agrave; thỏa sức s&aacute;ng tạo trong c&ocirc;ng việc.</p>
<p>+ Ngo&agrave;i ra, t&ograve;a nh&agrave; cũng được trang bị thang m&aacute;y tốc độ cao, hệ thống camera quan s&aacute;t, hệ thống PCCC tự động gi&uacute;p đảm bảo an ninh an to&agrave;n 24/24, hệ thống internet v&agrave; điện thoại tốc độ cao...</p>
<p>+ Được xếp hạng văn ph&ograve;ng &nbsp;với nhiều tiện &iacute;ch ph&ugrave; hợp cho thu&ecirc; văn ph&ograve;ng v&agrave; diện t&iacute;ch đa dạng, t&ograve;a nh&agrave; văn ph&ograve;ng Funroom Building gi&uacute;p kh&aacute;ch h&agrave;ng c&oacute; thể thu&ecirc; được văn ph&ograve;ng tốt nhất.</p>
<p>+L&agrave; nơi khơi nguồn cảm hứng, s&aacute;ng tạo hơn, th&agrave;nh c&ocirc;ng hơn trong c&ocirc;ng việc của bạn.</p>
<p>+Diện t&iacute;ch :25m2-50m2</p>
<p>+G&iacute;a thu&ecirc; : 6tr-12tr</p>
<p>Qu&yacute; kh&aacute;ch h&agrave;ng c&oacute; nhu cầu t&igrave;m hiểu th&ocirc;ng tin, thu&ecirc; văn ph&ograve;ng quận T&acirc;n B&igrave;nh tại t&ograve;a Funroom Building vui l&ograve;ng li&ecirc;n hệ để được tư vấn v&agrave; đi xem văn ph&ograve;ng trực tiếp.</p>
<p>Địa chỉ : 76 MAI THỊ LỰU, QUẬN 1</p>
<p>Li&ecirc;n hệ : 0902662874 Ms.Đậm quản l&yacute; t&ograve;a nh&agrave;.</p>', 1500000.0000, 2000.0000, 2994.0000, 0.0000, 30, 0, 0, 1, 1, 0, 1, 3, N'Tây', 2, 0, 3, 14, CAST(0xA03C0B00 AS Date), 23, 1, 1, N'image/35.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (258, 4, 9, N'Cần tìm mặt bằng rộng để buôn bán', N'Tịnh Sơn, Quảng Ngãi, Việt Nam', CAST(15.16059380 AS Decimal(10, 8)), CAST(108.70663980 AS Decimal(11, 8)), N'<p class="&quot;MsoNormal&quot;">thu&ecirc; mặt bằng diện t&iacute;ch 4 x 17 (nguy&ecirc;n tầng trệt) gi&aacute; 12 triệu / th&aacute;ng khu kinh doanh sầm uất gần ng&atilde; ba &Acirc;u Cơ &ndash; Ba V&acirc;n &ndash; Trương C&ocirc;ng Định, nh&agrave; đối diện c&ocirc;ng vi&ecirc;n, trường học, gần si&ecirc;u thị, bệnh viện, chung cư, phi&aacute; sau c&oacute; ph&ograve;ng ri&ecirc;ng c&oacute; thể ở lại (đường 125 Ba V&acirc;n F14 Q.TB)</p>
<p class="&quot;MsoNormal&quot;">LH: 0937 806 836</p>', 1500000.0000, 2500.0000, 3000.0000, 0.0000, 65, 1, 1, 1, 1, 0, 1, 1, N'Đông nam', 2, 0, 1, 4, CAST(0xA03C0B00 AS Date), 8, 1, 0, N'image/40.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (259, 4, 9, N'Cho thuê mặt bằng mở quán cafe', N'Tịnh Trà, Quảng Ngãi, Việt Nam', CAST(15.22892990 AS Decimal(10, 8)), CAST(108.69476170 AS Decimal(11, 8)), N'<p>Cho thu&ecirc; mặt bằng, gần chợ, gần truong hoc cấp 1,2, gần nh&agrave; thờ Nam Hải, gần trươfng ĐH S&agrave;i G&ograve;n đi bộ khoảng 10\\\\\\\\\\\\\\\''nh&agrave; sạch đep tho&aacute;ng m&aacute;t.</p>
<p>Cần nam sv ở gh&eacute;p gi&aacute; thoả thuận.</p>', 1000000.0000, 3000.0000, 2500.0000, 0.0000, 66, 0, 0, 0, 0, 0, 0, 3, N'Tây', 2, 0, 3, 3, CAST(0xA03C0B00 AS Date), 17, 1, 1, N'image/43.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (261, 4, 10, N'Cho thuê mặt bằng rộng phong thủy tốt', N'Hòa Vang, Đà Nẵng, Việt Nam', CAST(15.99998800 AS Decimal(10, 8)), CAST(108.14579940 AS Decimal(11, 8)), N'<p>VĂN PH&Ograve;NG CHO THU&Ecirc; BẬT NHẤT KHU VỰC T&Acirc;N B&Igrave;NH-HO&Agrave;NG HOA TH&Aacute;M.</p>
<p>Funroom Building quận T&acirc;n B&igrave;nh với vị tr&iacute; đắc địa, ngay cạnh TTTM, t&agrave;i ch&iacute;nh v&agrave; l&agrave; cửa ng&otilde; của TP Hồ Ch&iacute; Minh. Văn ph&ograve;ng cho thu&ecirc; quận t&acirc;n b&igrave;nh l&agrave; nơi l&yacute; tưởng cho c&aacute;c đơn vị danh tiếng v&agrave; l&agrave; bước khởi đầu, nền tảng cho mọi doanh nghiệp.</p>
<p>Tiện &iacute;ch bao gồm :</p>
<p>+ Giao th&ocirc;ng thuận tiện với quận 1, quận 3, b&igrave;nh thạnh, t&acirc;n ph&uacute;,v.v....Gần c&aacute;c trung t&acirc;m thương mại lớn nhất TP.HCM.</p>
<p>+ Văn ph&ograve;ng Funroom Building sở hữu tầm nh&igrave;n tho&aacute;ng đ&aacute;ng, kh&ocirc;ng kh&iacute; trong l&agrave;nh n&ecirc;n sẽ mang lại nguồn cảm hứng, niềm đam m&ecirc; v&agrave; thỏa sức s&aacute;ng tạo trong c&ocirc;ng việc.</p>
<p>+ Ngo&agrave;i ra, t&ograve;a nh&agrave; cũng được trang bị thang m&aacute;y tốc độ cao, hệ thống camera quan s&aacute;t, hệ thống PCCC tự động gi&uacute;p đảm bảo an ninh an to&agrave;n 24/24, hệ thống internet v&agrave; điện thoại tốc độ cao...</p>
<p>+ Được xếp hạng văn ph&ograve;ng &nbsp;với nhiều tiện &iacute;ch ph&ugrave; hợp cho thu&ecirc; văn ph&ograve;ng v&agrave; diện t&iacute;ch đa dạng, t&ograve;a nh&agrave; văn ph&ograve;ng Funroom Building gi&uacute;p kh&aacute;ch h&agrave;ng c&oacute; thể thu&ecirc; được văn ph&ograve;ng tốt nhất.</p>
<p>+ L&agrave; nơi khơi nguồn cảm hứng, s&aacute;ng tạo hơn, th&agrave;nh c&ocirc;ng hơn trong c&ocirc;ng việc của bạn.</p>
<p>Qu&yacute; kh&aacute;ch h&agrave;ng c&oacute; nhu cầu t&igrave;m hiểu th&ocirc;ng tin, thu&ecirc; văn ph&ograve;ng quận T&acirc;n B&igrave;nh tại t&ograve;a Funroom Building vui l&ograve;ng li&ecirc;n hệ để được tư vấn v&agrave; đi xem văn ph&ograve;ng trực tiếp.</p>
<p>Địa chỉ : 48A Th&acirc;n Nh&acirc;n Trung, P.13, Quận T&acirc;n B&igrave;nh.</p>
<p>Li&ecirc;n hệ : 0902662874 Ms.Đậm quản l&yacute; t&ograve;a nh&agrave;.</p>', 10000.0000, 2500.0000, 3000.0000, 0.0000, 30, 0, 0, 1, 0, 0, 0, 3, N'đông bắc', 1, 0, 3, 15, CAST(0xA03C0B00 AS Date), 0, 1, 0, N'image/45.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (262, 4, 10, N'Cho thuê mặt bằng ở ngã tư', N'Trà Bồng, Quảng Ngãi, Việt Nam', CAST(15.25126450 AS Decimal(10, 8)), CAST(108.49882690 AS Decimal(11, 8)), N'<p class="&quot;MsoNormal&quot;">CHO THU&Ecirc; MẶT BẰNG TIỆN KINH DOANH CAF&Eacute;, QUẦN &Aacute;O, VĂN PH&Ograve;NG</p>
<p class="&quot;MsoNormal&quot;">Cho thu&ecirc; mặt bằng diện t&iacute;ch 4 x 17 (nguy&ecirc;n tầng trệt) gi&aacute; 12 triệu / th&aacute;ng khu kinh doanh sầm uất gần ng&atilde; ba &Acirc;u Cơ &ndash; Ba V&acirc;n &ndash; Trương C&ocirc;ng Định, nh&agrave; đối diện c&ocirc;ng vi&ecirc;n, trường học, gần si&ecirc;u thị, bệnh viện, chung cư, phi&aacute; sau c&oacute; ph&ograve;ng ri&ecirc;ng c&oacute; thể ở lại (đường 125 Ba V&acirc;n F14 Q.TB)</p>
<p class="&quot;MsoNormal&quot;">LH: 0937 806 836</p>', 10000000.0000, 2000.0000, 2000.0000, 0.0000, 60, 1, 0, 0, 1, 0, 0, 3, N'bắc ', 2, 0, 3, 12, CAST(0xA03C0B00 AS Date), 1, 1, 1, N'image/49.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (263, 4, 10, N'Mặt bằng thuận lợi kinh doanh', N'Tịnh Sơn, Quảng Ngãi, Việt Nam', CAST(15.16059380 AS Decimal(10, 8)), CAST(108.70663980 AS Decimal(11, 8)), N'<p>IBC Office cho thu&ecirc; Văn ph&ograve;ng trọn g&oacute;i, tiện nghi hơn cả văn ph&ograve;ng truyền thống. Tiết kiệm 50% chi ph&iacute;.</p>
<p>- Địa chỉ kinh doanh trung t&acirc;m Q1.</p>
<p>- Văn ph&ograve;ng l&agrave;m việc sang trọng d&agrave;nh cho 3 &ndash; 4 người, nằm trong t&ograve;a nh&agrave; hạng A.</p>
<p>- Khu vực tiếp kh&aacute;ch khang trang, ph&ograve;ng họp chuy&ecirc;n nghiệp.</p>
<p>- Đầy đủ tiện &iacute;ch văn ph&ograve;ng: M&aacute;y in, photocopy, điện thoại cố định tại b&agrave;n l&agrave;m việc, điều h&ograve;a, kết nối internet, m&aacute;y chiếu, tủ lạnh, l&ograve; vi s&oacute;ng, &hellip;.</p>
<p>- Nh&acirc;n vi&ecirc;n Lễ t&acirc;n, IT, tạp vụ chuy&ecirc;n nghiệp, hỗ trợ to&agrave;n thời gian h&agrave;nh ch&iacute;nh.</p>
<p>- Hệ thống camera an ninh, hầm gửi xe đảm bảo, thang m&aacute;y hiện đại.</p>
<p>**Li&ecirc;n hệ IBC Office:</p>
<p>- Ph&ograve;ng 802 Vietnam Business Center Building, 57-59 Hồ T&ugrave;ng Mậu, P.Bến Ngh&eacute;, Q.1.</p>
<p>- Ph&ograve;ng 8.6, Le Meridien Building, 3C T&ocirc;n Đức Thắng, P.Bến Ngh&eacute;, Q.1</p>
<p>- Điện thoại : 08.7309.9986 ext 1</p>
<p>- Website: http://ibcoffice.com.vn</p>', 15000000.0000, 4000.0000, 2500.0000, 20000.0000, 70, 1, 0, 0, 1, 0, 1, 3, N'Tây', 1, 0, 3, 2, CAST(0xA03C0B00 AS Date), 7, 1, 1, N'image/53.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (265, 2, 14, N'NHÀ CHO THUÊ NGUYÊN CĂN GIÁ RẺ 5TR/THÁNG,NGŨ HÀNH SƠN, HÒA HẢI, TP. ĐÀ NẴNG', N'Hòa Thuận Tây, Đà Nẵng, Việt Nam', CAST(16.04669470 AS Decimal(10, 8)), CAST(108.20958000 AS Decimal(11, 8)), N'<div id="motachitiet" class="block-content-2"><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong>
<p>Nh&agrave; cho thu&ecirc; nguy&ecirc;n căn gi&aacute; rẻ 5tr/th&aacute;ng.&nbsp;</p>
<p>Địa chỉ: : 827/12/6 Nam Kỳ Khởi Nghĩa, P H&ograve;a Hải, Q.Ngũ H&agrave;nh Sơn.&nbsp;</p>
<p>DT 3,5x11 trệt+1 lầu, 2 ph&ograve;ng, khu d&acirc;n cư y&ecirc;n tĩnh, sau lưng c&ocirc;ng an, ubnd phường BTĐ B, gần bệnh viện, chợ ...tiện mở văn ph&ograve;ng, cty, nh&agrave; xưởng, ở, cho thu&ecirc; l&acirc;u d&agrave;i. li&ecirc;n hệ anh Điều 0918918658</p>
<p>Li&ecirc;n hệ anh Điều 0918918658</p>
</div>
<div class="readmore-url block-content-2">&nbsp;</div>', 5000000.0000, 3000.0000, 1498.0000, 0.0000, 96, 1, 1, 1, 1, 0, 0, 3, N'Đông nam', 2, 6, 3, 18, CAST(0xA03C0B00 AS Date), 1, 1, 1, N'image/16.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (266, 2, 14, N'CHO THUÊ NHÀ NGUYÊN CĂN , PHÒNG MỚI, SẠCH SẼ, CÓ SÂN VƯỜN', N'Trà Bình, Thành phố Quảng Ngãi, Quảng Ngãi, Việt Nam', CAST(15.12382000 AS Decimal(10, 8)), CAST(108.81169900 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p>Gồm 1 trệt, 2 lầu, 1 tầng thượng</p>
<p>Mỗi tầng 2 ph&ograve;ng 18-20m2, toilet v&agrave; cầu thang ở giữa, tầng thượng rộng c&oacute; toilet n&ecirc;n c&oacute; thể thiết kế th&ecirc;m 1 ph&ograve;ng. Bếp tầng trệt, c&oacute; lối đi ri&ecirc;ng ở ph&iacute;a sau.</p>
<p>Tiện nghi: 5 điều h&ograve;a, 4 quạt trần, 3 b&igrave;nh n&oacute;ng lạnh&hellip;</p>
<p>Gi&aacute; thu&ecirc;: 10 triệu/th&aacute;ng, cọc 3 th&aacute;ng.</p>
<p>Hợp đồng 2-3 năm</p>
<p>&nbsp;</p>
<p>&nbsp;</p>', 10000000.0000, 3000.0000, 2000.0000, 0.0000, 100, 1, 1, 1, 1, 0, 1, 3, N'Bắc', 3, 6, 3, 8, CAST(0xA03C0B00 AS Date), 0, 1, 1, N'image/3.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (267, 2, 14, N'CHO THUÊ NHÀ NGUYÊN CĂN 1 TRỆT, 2 LẦU, 1 SÂN THƯỢNG', N'Hòa Vang, Đà Nẵng, Việt Nam', CAST(15.99998800 AS Decimal(10, 8)), CAST(108.14579940 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p>Gồm 1 trệt, 2 lầu, 1 tầng thượng</p>
<p>Mỗi tầng 2 ph&ograve;ng 18-20m2, toilet v&agrave; cầu thang ở giữa, tầng thượng rộng c&oacute; toilet n&ecirc;n c&oacute; thể thiết kế th&ecirc;m 1 ph&ograve;ng. Bếp tầng trệt, c&oacute; lối đi ri&ecirc;ng ở ph&iacute;a sau.</p>
<p>Tiện nghi: 2 điều h&ograve;a, 4 quạt trần, 3 b&igrave;nh n&oacute;ng lạnh&hellip;</p>
<p>Gi&aacute; thu&ecirc;: 7 triệu/th&aacute;ng</p>
<p>&nbsp;</p>
<p>&nbsp;</p>', 7000000.0000, 2000.0000, 1500.0000, 15000.0000, 100, 0, 1, 1, 0, 1, 0, 1, N'tây nam', 3, 6, 1, 15, CAST(0xA03C0B00 AS Date), 8, 1, 1, N'image/30.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (282, 2, 14, N'NHÀ NGUYÊN CĂN (54M2) – SẠCH SẼ, CÓ SÂN MÁT, KHU VỰC TRỒNG RAU KHU VỰC NGŨ HÀNH SƠN, TP ĐÀ NẴNG', N'Hòa Hải, Đà Nẵng, Việt Nam', CAST(15.98655800 AS Decimal(10, 8)), CAST(108.26740920 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p>NH&Agrave; TRỆT MỚI KHU Ở Y&Ecirc;N TỈNH, SẠCH SẼ, 1 PH&Ograve;NG KH&Aacute;CH, 1 PH&Ograve;NG NGỦ, 1 BẾP, 1 NH&Agrave; VỆ SINH.</p>
<p>C&Oacute; S&Acirc;N TRỒNG RAU SẠCH, C&Aacute;CH TRUNG T&Acirc;M QUẬN 1, 30 PH&Uacute;T ĐI XE.</p>
<p>ĐIỆN, NƯỚC, INTERNET</p>
<p>ƯU TI&Ecirc;N C&Aacute;C BẠN SINH VI&Ecirc;N ĐI HỌC HOẶC GIA Đ&Igrave;NH ĐI L&Agrave;M.&nbsp;0909306255</p>', 4000000.0000, 3000.0000, 1000.0000, 0.0000, 54, 1, 1, 1, 0, 0, 1, 3, N'Bắc', 1, 3, 3, 14, CAST(0xA03C0B00 AS Date), 2, 1, 1, N'image/12.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (283, 2, 14, N'CẦN TÌM NHÀ NGUYÊN CĂN, GIÁ RẺ TỪ 2 TRIỆU-3 TRIỆU', N'Trà Bồng, tt. Trà Xuân, Quảng Ngãi, Việt Nam', CAST(15.25903470 AS Decimal(10, 8)), CAST(108.50548260 AS Decimal(11, 8)), N'<p>CẦN T&Igrave;M NH&Agrave; TRỆT MỚI KHU Ở Y&Ecirc;N TỈNH, SẠCH SẼ.</p>
<p>C&Oacute; S&Acirc;N TRỒNG RAU SẠCH, GẦN CHỢ, GẦN TRƯỜNG HỌC</p>
<p>C&Oacute; ĐẦY ĐỦ ĐIỆN, NƯỚC, INTERNET.</p>', 2000000.0000, 0.0000, 0.0000, 0.0000, 0, 1, 1, 1, 0, 0, 1, 3, N'', 0, 0, 3, 9, CAST(0xA03C0B00 AS Date), 1, 1, 0, N'image/default.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (284, 1, 15, N'CẦN TÌM PHÒNG TRỌ SINH VIÊN , GIÁ RẺ TỪ 500 NGHÌN - 1 TRIỆU', N'FPT Complex Building, Hòa Hải, Đà Nẵng, Việt Nam', CAST(15.97828270 AS Decimal(10, 8)), CAST(108.26314940 AS Decimal(11, 8)), N'<p>Cần t&igrave;m ph&ograve;ng trọ:</p>
<p>+Kh&ocirc;ng chung chủ, giờ giấc tự do bạn b&egrave; người th&acirc;n tới chơi thoải m&aacute;i.&nbsp;</p>
<p>+ Gần t&ograve;a nh&agrave; FPT Complex.</p>
<p>+ Ph&ograve;ng sạch sẽ, tho&aacute;ng m&aacute;t, c&oacute; chỗ để xe.</p>
<p>+C&oacute; nước sạch, c&oacute; cửa sổ, v&agrave; đặc biệt l&agrave; gần nơi y&ecirc;n tĩnh.</p>
<p>&nbsp;</p>', 500000.0000, 0.0000, 0.0000, 0.0000, 0, 1, 0, 0, 0, 1, 0, 3, N'', 0, 0, 3, 14, CAST(0xA03C0B00 AS Date), 0, 1, 0, N'image/default.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (285, 1, 15, N'PHÒNG TRỌ CAO CẤP, SẠCH RẺ, AN NINH GIÁ CHỈ TỪ 2TR500 ĐẾN 3TR', N'Tịnh Trà, Quảng Ngãi, Việt Nam', CAST(15.22892990 AS Decimal(10, 8)), CAST(108.69476170 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p><strong>CHO THU&Ecirc; PH&Ograve;NG TRỌ MỚI X&Acirc;Y CAO CẤP C&Oacute; G&Aacute;C LỬNG GI&Aacute; B&Igrave;NH D&Acirc;N</strong></p>
<p>*Nơi mang đến cho bạn m&ocirc;i trường sống văn ho&aacute; ,an to&agrave;n v&agrave; sạch sẽ.</p>
<p>Vị tr&iacute;</p>
<p>* Ph&ograve;ng trọ:</p>
<p>- Giảm 10% cho ban thu&ecirc; ph&ograve;ng lần đầu ti&ecirc;n</p>
<p>Địa chỉ: Tịnh Tr&agrave;- Sơn Tịnh - Quảng Ng&atilde;i</p>
<p>+ Kh&ocirc;ng &nbsp;chung chủ, giờ giấc tự do bạn b&egrave; người th&acirc;n tới chơi thoải m&aacute;i.&nbsp;</p>
<p>+ Ph&ograve;ng &nbsp;ben ngo&agrave;i c&oacute; ban c&ocirc;ng tho&aacute;ng m&aacute;t, s&acirc;n thượng rất rộng , bạn c&oacute; thể ngắm to&agrave;n cảnh th&agrave;nh phố .</p>
<p>&nbsp;</p>
<p>+ To&agrave;n &nbsp;bộ ph&ograve;ng được l&aacute;t gạch men n&ecirc;n ph&ograve;ng ốc tr&ocirc;ng rất&nbsp;sạch sẽ v&agrave; cao cấp.&nbsp;</p>
<p>+Khu &nbsp;vực gần nh&agrave; người dan ở n&ecirc;n rất y&ecirc;n tĩnh</p>
<p>+ Gần chợ n&ecirc;n ban thoải m&aacute;i nấu những m&oacute;n ăn minh th&iacute;ch nh&eacute;</p>
<p>+Chỗ để xe rộng r&atilde;i</p>
<p>+Bảo &nbsp;vệ trực 24/24&nbsp;</p>
<p>Bạn sẽ sở hữu ngay 1 căn ph&ograve;ng như m&igrave;nh mong muốn&nbsp;</p>
<p>+ V&igrave; số lượng c&oacute; hạn n&ecirc;n gọi ngay cho ch&uacute;ng t&ocirc;i để đặt ph&ograve;ng nh&eacute;</p>
<p>Li&ecirc;n hệ: C Hằng</p>
<p>Điện thoại: 0986191475</p>', 2500000.0000, 3000.0000, 1500.0000, 0.0000, 0, 1, 0, 0, 0, 1, 1, 3, N'tây nam', 1, 3, 3, 3, CAST(0xA03C0B00 AS Date), 0, 1, 1, N'image/21.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (286, 1, 15, N'PHÒNG TRỌ AN NINH, TIỆN NGHI, SẠCH SẼ GẦN FPT CITY', N'Khu đô thị FPT City, Đà Nẵng, Việt Nam', CAST(15.97706310 AS Decimal(10, 8)), CAST(108.26296040 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p>M&igrave;nh cần cho thu&ecirc; ph&ograve;ng gần khu FPT City,&nbsp;đường Nam Kỳ Khởi Nghĩa, Quận Ngũ H&agrave;nh Sơn</p>
<p>Ph&ograve;ng rộng r&atilde;i, sạch sẽ, view đẹp ngắm th&agrave;nh phố, giờ giấc tự do, ở chung cư n&ecirc;n rất an ninh, kh&ocirc;ng lo trộm cắp.</p>
<p>Ban c&ocirc;ng rộng, m&aacute;t mẻ thuận tiện phơi quần &aacute;o, sinh hoạt chung,...B&ecirc;n m&igrave;nh trang bị sẵn M&Aacute;Y GIẶT v&agrave; TỦ LẠNH (d&ugrave;ng chung), c&oacute; sẵn kệ bếp nấu ăn ( d&ugrave;ng chung), wifi tốc độ cao (free)&nbsp;</p>
<p>Hiện tại c&oacute; c&aacute;c ph&ograve;ng như sau:&nbsp;</p>
<p>_ Ph&ograve;ng 12 m&eacute;t cửa sổ tho&aacute;ng m&aacute;t (c&oacute; thể dọn v&agrave;o ở ngay) gi&aacute; 1tr6/th&aacute;ng</p>
<p>_Ph&ograve;ng 16 m&eacute;t cửa sổ tho&aacute;ng m&aacute;t, c&oacute; 1 kho nhỏ trong ph&ograve;ng (15/4 c&oacute; thể dọn v&agrave;o) gi&aacute; 1tr8 / th&aacute;ng&nbsp;</p>
<p>* B&ecirc;n m&igrave;nh bao ph&iacute; quản l&yacute;, mỗi tuần sẽ c&oacute; nh&acirc;n vi&ecirc;n l&agrave;m vệ sinh 2 lần. Ph&iacute; giữ xe tầng hầm chung cư 80k/xe m&aacute;y/th&aacute;ng.&nbsp;</p>
<p>*kh&ocirc;g gian sinh hoạt b&ecirc;n dưới chung cư rộng r&atilde;i tho&aacute;ng m&aacute;t, c&ocirc;ng vi&ecirc;n, ph&ograve;ng gym, hồ bơi, qu&aacute;n ăn, cafe, chợ đầy đủ. Trạm taxi v&agrave; xe bu&yacute;t ngay dưới chung cư.</p>
<p>* Đ&acirc;y l&agrave; h&igrave;nh chụp thật, ko copy bừa tr&ecirc;n mạng nh&eacute;!</p>
<p>Li&ecirc;n hệ: 0915446387 (c&ocirc; Nga)</p>', 1800000.0000, 3000.0000, 1500.0000, 0.0000, 0, 1, 1, 1, 1, 1, 1, 3, N'tây nam', 1, 3, 3, 15, CAST(0xA03C0B00 AS Date), 0, 1, 1, N'image/21.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (287, 1, 15, N'PHÒNG TRỌ ĐẦY ĐỦ TIỆN NGHI GẦN CAO ĐẲNG CNTT', N'Cao Đẳng Công Nghệ Thông Tin - Đại Học Đà Nẵng, Điện Ngọc, Quảng Nam, Việt Nam', CAST(15.97218330 AS Decimal(10, 8)), CAST(108.24959620 AS Decimal(11, 8)), N'<p><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></p>
<p>Hiện nay m&igrave;nh c&oacute; một số ph&ograve;ng trống cho thu&ecirc; gần trường CĐ CNTT Đ&agrave; Nằng<br />1. TIỆN &Iacute;CH CHUNG:<br />Giờ giấc tự do (c&oacute; ch&igrave;a kh&oacute;a ri&ecirc;ng)<br />Khu vực an ninh, y&ecirc;n tĩnh, c&oacute; camera gi&aacute;m s&aacute;t trong hẻm.<br />C&oacute; chỗ để xe trong nh&agrave;.<br />Wifi mạnh<br />Ph&ograve;ng c&oacute; đầy đủ nội thất như: m&aacute;y lạnh, m&aacute;y nước n&oacute;ng, tủ gỗ lớn, giường đệm,wc ri&ecirc;ng, m&aacute;y giặt(chung), c&oacute; cửa sổ tho&aacute;ng,<br /><br />Tr&acirc;n trọng c&aacute;m ơn!</p>', 1500000.0000, 3000.0000, 1000.0000, 0.0000, 22, 1, 0, 0, 0, 1, 1, 4, N'', 1, 3, 3, 14, CAST(0xA03C0B00 AS Date), 0, 1, 1, N'image/10.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (288, 1, 15, N'PHÒNG TRỌ DÀNH CHO SINH VIÊN, NHÂN VIÊN VĂN PHÒNG', N'Sơn Tịnh, Quảng Ngãi, Việt Nam', CAST(15.18609450 AS Decimal(10, 8)), CAST(108.73633700 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p class="\&quot;MsoNormal\&quot;">Cần cho thu&ecirc; nh&agrave; mới c&oacute; nhiều ph&ograve;ng, gi&aacute; cả từ 1.7-2,5 triệu/th.<br />Mỗi ph&ograve;ng trang bị gạch ốp cao tường, nh&agrave; VS ri&ecirc;ng, c&oacute; g&aacute;c, wifi, Th c&aacute;p, giờ giấc tự do. Chỗ để xe an to&agrave;n (free nh&eacute;), c&oacute; s&acirc;n thượng, chỗ phơi đồ ri&ecirc;ng. Điện nước gi&aacute; nh&agrave; nước. Ph&ograve;ng ngay khu vực cư x&aacute; Ng&acirc;n h&agrave;ng th&iacute;ch hợp cho ai l&agrave;m v&agrave; học.<br />(chủ nh&agrave;: C&ocirc; B&igrave;nh - 0906911434).</p>', 1700000.0000, 3000.0000, 1000.0000, 0.0000, 22, 1, 0, 0, 0, 1, 1, 4, N'', 1, 3, 3, 8, CAST(0xA03C0B00 AS Date), 0, 1, 1, N'image/10.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (289, 1, 16, N'CẦN TÌM PHÒNG TRỌ DÀNH CHO SINH VIÊN, HỌC SINH GẦN KTX CAO ĐẲNG VIỆT HÀN', N'Hòa Hải, Đà Nẵng, Việt Nam', CAST(15.98655800 AS Decimal(10, 8)), CAST(108.26740920 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p class="\&quot;MsoNormal\&quot;">Cần t&igrave;m ph&ograve;ng trọ gi&aacute; rẻ</p>
<p class="\&quot;MsoNormal\&quot;">Gần trường, d&agrave;nh cho sinh vi&ecirc;n, học sinh. C&oacute; g&aacute;c xếp, c&oacute; internet. Giờ giấc thoải m&aacute;i, y&ecirc;n tĩnh.</p>
<p class="\&quot;MsoNormal\&quot;">Tự do nấu ăn trong ph&ograve;ng.</p>
<p class="\&quot;MsoNormal\&quot;">Kh&ocirc;ng ở chung với chủ.</p>', 0.0000, 0.0000, 0.0000, 0.0000, 0, 0, 0, 0, 0, 0, 0, 1, N'', 0, 0, 1, 14, CAST(0xA03C0B00 AS Date), 1, 1, 0, N'image/default.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (290, 1, 16, N'CHO THUÊ PHÒNG TRỌ ĐẸP,CÓ BẾP,BAN CÔNG RỘNG', N'Hòa Xuân, Đà Nẵng, Việt Nam', CAST(16.00199830 AS Decimal(10, 8)), CAST(108.21995880 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p>Cho thu&ecirc; ph&ograve;ng trọ , nh&agrave; mới x&acirc;y 100%. an ninh v&agrave; y&ecirc;n tĩnh. Tất cả c&aacute;c ph&ograve;ng đều c&oacute; hệ thống cửa sổ, cửa từ, bảo vệ thang m&aacute;y 24/24. lầu cao gi&oacute; lộng. Cửa sổ cao . 1 lầu chỉ c&oacute; 3 ph&ograve;ng.&nbsp;<br /><br />Đứng trước t&igrave;nh h&igrave;nh x&atilde; hội nhiều bất ổn v&agrave; biến động, c&aacute;c d&atilde;y ph&ograve;ng trọ bị trộm cướp mất cắp, rối loạn trật tự an to&agrave;n, c&oacute; khu nha tro ị cướp rất nhiều.... Khiến người thu&ecirc; chịu nhiều rủi ro, kh&ocirc;ng an cư kh&ocirc;ng lạc nghiệp. M&ocirc; h&igrave;nh ph&ograve;ng cho thu&ecirc; nhằm giải quyết tất cả những vấn đề bất cập n&agrave;y.&nbsp;<br /><br />Nh&agrave; l&agrave; nơi nghỉ ngơi l&yacute; tưởng an ninh với đội ngũ bảo vệ tận t&acirc;m 24/7.&nbsp;<br /><br />Ph&ograve;ng của ch&uacute;ng t&ocirc;i:&nbsp;<br />1. An ninh l&agrave; tr&ecirc;n hết.&nbsp;<br />2. Địa điểm thuận tiện c&ocirc;ng việc, kh&ocirc;ng bị kẹt xe.&nbsp;<br />3. Dịch vụ quản l&yacute; chất lượng, camera ghi h&igrave;nh.&nbsp;<br />4. Điện nước gi&aacute; nh&agrave; nước.&nbsp;<br />5. Dịch vụ bảo vệ chuy&ecirc;n nghiệp, tầng hầm 2000m2, 8 block 24/7.&nbsp;<br />6. Free wifi c&aacute;p quang Viettel 30MB.&nbsp;<br />7. Tận hưởng tiện &iacute;ch xung quanh .&nbsp;<br />8. Vệ sinh được ch&uacute; trọng 2 - 3 lần 1 tuần.&nbsp;<br />9. Giờ giấc tự do cấp ph&aacute;t ri&ecirc;ng key ra v&agrave;o.&nbsp;<br />10. An ninh 100%.&nbsp;<br />C&ograve;n 1 ph&ograve;ng cho thu&ecirc;: WC trong ph&ograve;ng th&iacute;ch hợp tiện lợi sinh vi&ecirc;n học sinh, nh&acirc;n vi&ecirc;n văn ph&ograve;ng.&nbsp;<br />c&ograve;n chần chờ g&igrave; m&agrave; kh&ocirc;ng nhanh ch&acirc;n đến xem để tận hưởng dịch vụ m&agrave; ch&uacute;ng t&ocirc;i mang lại.</p>', 1500000.0000, 2000.0000, 1500.0000, 0.0000, 0, 1, 1, 1, 0, 1, 1, 3, N'', 1, 0, 3, 20, CAST(0xA03C0B00 AS Date), 1, 1, 1, N'image/9.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (291, 1, 16, N'CHO THUÊ PHÒNG ĐẸP, ĐẦY ĐỦ NỘI THẤT, KHU DÂN CƯ, GIÁ 2TR – 3TR/THÁNG', N'Sơn Tịnh, Quảng Ngãi, Việt Nam', CAST(15.18609450 AS Decimal(10, 8)), CAST(108.73633700 AS Decimal(11, 8)), N'<p><strong><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></strong></p>
<p>CHO THU&Ecirc; PH&Ograve;NG ĐẸP, ĐẦY ĐỦ NỘI THẤT, KHU D&Acirc;N CƯ&nbsp;</p>
<p>- S&agrave;n gỗ mới, đẹp.</p>
<p>- Thang m&aacute;y cho 7 người, 500kg</p>
<p>- Hầm để xe rộng r&atilde;i, tho&aacute;ng m&aacute;t</p>
<p>- C&oacute; chỗ đậu xe hơi.</p>
<p>- Bảo vệ 24/24</p>
<p>- Giờ giấc tự do, thoải m&aacute;i.</p>
<p>- Tivi, tủ lạnh, m&aacute;y lạnh, m&aacute;y giặt.</p>
<p>- Tủ quần &aacute;o, b&agrave;n l&agrave;m vi&ecirc;c</p>
<p>- Giường, nệm, drap, gối mền.</p>
<p>- WC, kệ bếp, b&agrave;n ăn ri&ecirc;ng trong ph&ograve;ng</p>
<p>- Khu vực an ninh, y&ecirc;n tĩnh, d&acirc;n tr&iacute; cao, d&acirc;n ph&ograve;ng 24/24, kh&ocirc;ng ngập nước.</p>
<p>- Camera to&agrave;n bộ khu vực sinh hoạt chung.</p>
<p>- Diện t&iacute;ch: 20m2 - 50m2</p>
<p>Miễn ph&iacute;:&nbsp;</p>
<p>- M&aacute;y giặt.</p>
<p>- Truyền h&igrave;nh c&aacute;p, internet tốc độ cao.</p>
<p>ĐT: 0903.628.959 - 0903.692.575</p>', 2000000.0000, 3000.0000, 1000.0000, 10000.0000, 50, 1, 1, 1, 1, 1, 1, 3, N'', 2, 5, 3, 12, CAST(0xA03C0B00 AS Date), 2, 1, 1, N'image/60.jpg', NULL, 1)
INSERT [dbo].[Thread] ([threadId], [categoryId], [accountId], [name], [address], [latitude], [longitude], [content], [price], [electricFee], [waterFee], [otherFee], [area], [wifi], [waterHeater], [conditioner], [fridge], [attic], [camera], [waterSource], [direction], [numOfToilets], [numOfPeople], [object], [villageId], [created], [viewed], [status], [kindOf], [imageThumb], [note], [available]) VALUES (292, 1, 16, N'PHÒNG TRỌ CAO CẤP FULL NỘI THẤT MẶT TIỀN TÂN MỸ', N'Hòa Vang, Đà Nẵng, Việt Nam', CAST(15.99998800 AS Decimal(10, 8)), CAST(108.14579940 AS Decimal(11, 8)), N'<p><span class="block_headline">TH&Ocirc;NG TIN M&Ocirc; TẢ</span></p>
<p>Cho thu&ecirc; ph&ograve;ng cao cấp mặt tiền đường T&acirc;n Mỹ</p>
<p>Ph&ograve;ng cao cấp mới 100%, an ninh, sạch sẽ, y&ecirc;n tĩnh, tho&aacute;ng m&aacute;t.</p>
<p>Ph&ugrave; hợp với sinh vi&ecirc;n học tập, nh&acirc;n vi&ecirc;n văn ph&ograve;ng, gia đ&igrave;nh nhỏ.</p>
<p>Th&ocirc;ng tin cơ bản:</p>
<p>- T&ograve;a nh&agrave; cao 7 tầng, được trang bị thang m&aacute;y hiện đại</p>
<p>- Diện t&iacute;ch ph&ograve;ng từ 15m2, gi&aacute; từ 4 triệu/th&aacute;ng</p>
<p>- Tất cả c&aacute;c ph&ograve;ng đều được trang bị: giường, nệm, tủ quần &aacute;o, tủ lạnh, m&aacute;y lạnh, m&aacute;y giặt, m&aacute;y nước n&oacute;ng</p>
<p>* Điện 3000đ/KWh</p>
<p>* Miễn ph&iacute; wifi, chỗ đậu xe, giặt đồ, r&aacute;c.</p>
<p>* Giờ giấc tự do, kh&ocirc;ng chung chủ.</p>
<p>* Đặt cọc 1 th&aacute;ng tiền ph&ograve;ng.</p>
<p>Lưu &yacute;: Ph&ograve;ng kh&ocirc;ng c&oacute; g&aacute;c.</p>
<p>Li&ecirc;n hệ anh Hải: 0919.916.131.</p>', 4000000.0000, 3000.0000, 2000.0000, 0.0000, 15, 1, 1, 1, 0, 0, 1, 3, N'', 1, 0, 3, 15, CAST(0xA03C0B00 AS Date), 3, 1, 1, N'image/62.jpg', NULL, 1)
SET IDENTITY_INSERT [dbo].[Thread] OFF
SET IDENTITY_INSERT [dbo].[Village] ON 

INSERT [dbo].[Village] ([villageId], [districtId], [name]) VALUES (1, 1, N'Tịnh Bình')
INSERT [dbo].[Village] ([villageId], [districtId], [name]) VALUES (2, 1, N'Tịnh Sơn')
INSERT [dbo].[Village] ([villageId], [districtId], [name]) VALUES (3, 1, N'Tịnh Trà')
SET IDENTITY_INSERT [dbo].[Village] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [uc_Account]    Script Date: 4/2/2017 5:46:51 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [uc_Account] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Thread] ADD  CONSTRAINT [DF_Thread_available]  DEFAULT ((1)) FOR [available]
GO
/****** Object:  Trigger [dbo].[AccountDeleted]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[AccountDeleted]
ON [dbo].[Account]
AFTER DELETE
AS
BEGIN

   DELETE FROM Rate WHERE accountId = (SELECT TOP 1 accountId FROM DELETED)
   DELETE FROM Notification WHERE accountId = (SELECT TOP 1 accountId FROM DELETED)
   DELETE FROM Thread WHERE accountId = (SELECT TOP 1 accountId FROM DELETED)

END 
GO
/****** Object:  Trigger [dbo].[RateDeleted]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[RateDeleted]
ON [dbo].[Rate]
AFTER DELETE
AS
BEGIN

   DELETE FROM Notification WHERE rateId = (SELECT TOP 1 rateId FROM DELETED)

END 
GO
/****** Object:  Trigger [dbo].[ThreadDeleted]    Script Date: 4/2/2017 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ThreadDeleted]
ON [dbo].[Thread]
AFTER DELETE
AS
BEGIN

   DELETE FROM Rate WHERE threadId = (SELECT TOP 1 threadId FROM DELETED)
   DELETE FROM Image WHERE threadId = (SELECT TOP 1 threadId FROM DELETED)
   DELETE FROM Notification WHERE threadId = (SELECT TOP 1 threadId FROM DELETED)

END 

GO
USE [master]
GO
