USE [QLPT1]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/20/2017 6:38:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountId] [int] IDENTITY(1,1) NOT NULL,
	[level] [smallint] NULL,
	[categoryId] [smallint] NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](40) NULL,
	[password] [nvarchar](32) NULL,
	[phone] [nvarchar](11) NULL,
	[status] [tinyint] NULL,
	[avatar] [nvarchar](500) NULL,
 CONSTRAINT [pk_Account] PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/20/2017 6:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [pk_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 3/20/2017 6:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[districtId] [smallint] IDENTITY(1,1) NOT NULL,
	[provinceId] [smallint] NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [pk_District] PRIMARY KEY CLUSTERED 
(
	[districtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 3/20/2017 6:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[imageId] [int] IDENTITY(1,1) NOT NULL,
	[threadId] [int] NULL,
	[src] [nvarchar](200) NULL,
	[content] [nvarchar](200) NULL,
	[image360] [bit] NULL,
 CONSTRAINT [pk_Image] PRIMARY KEY CLUSTERED 
(
	[imageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 3/20/2017 6:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[provinceId] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [pk_Province] PRIMARY KEY CLUSTERED 
(
	[provinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rate]    Script Date: 3/20/2017 6:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[rateId] [int] IDENTITY(1,1) NOT NULL,
	[threadId] [int] NULL,
	[accountId] [int] NULL,
	[content] [nvarchar](200) NULL,
	[score] [tinyint] NULL,
	[created] [datetime] NULL,
 CONSTRAINT [pk_Rate] PRIMARY KEY CLUSTERED 
(
	[rateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thread]    Script Date: 3/20/2017 6:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thread](
	[threadId] [int] IDENTITY(1,1) NOT NULL,
	[categoryId] [smallint] NULL,
	[accountId] [int] NULL,
	[name] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[content] [nvarchar](4000) NULL,
	[price] [money] NULL,
	[electricFee] [money] NULL,
	[waterFee] [money] NULL,
	[otherFee] [money] NULL,
	[area] [int] NULL,
	[wifi] [bit] NULL,
	[waterHeater] [bit] NULL,
	[conditioner] [bit] NULL,
	[fridge] [bit] NULL,
	[attic] [bit] NULL,
	[camera] [bit] NULL,
	[waterSource] [tinyint] NULL,
	[direction] [nvarchar](100) NULL,
	[numOfToilets] [smallint] NULL,
	[numOfPeople] [smallint] NULL,
	[object] [tinyint] NULL,
	[villageId] [int] NULL,
	[created] [date] NULL,
	[viewed] [int] NULL,
	[status] [tinyint] NULL,
	[kindOf] [bit] NULL,
	[imageThumb] [nvarchar](200) NULL,
 CONSTRAINT [pk_Thread] PRIMARY KEY CLUSTERED 
(
	[threadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Village]    Script Date: 3/20/2017 6:38:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Village](
	[villageId] [int] IDENTITY(1,1) NOT NULL,
	[districtId] [smallint] NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [pk_Village] PRIMARY KEY CLUSTERED 
(
	[villageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountId], [level], [categoryId], [name], [email], [password], [phone], [status], [avatar]) VALUES (1, 1, NULL, N'Admin 1', N'admin1@gmail.com', N'123', N'phone 1', 1, N'image/avatar1.jpg')
INSERT [dbo].[Account] ([accountId], [level], [categoryId], [name], [email], [password], [phone], [status], [avatar]) VALUES (2, 1, NULL, N'Admin 2', N'admin2@gmail.com', N'123', N'phone 2', 1, N'image/avatar2.jpg')
INSERT [dbo].[Account] ([accountId], [level], [categoryId], [name], [email], [password], [phone], [status], [avatar]) VALUES (3, 2, 1, N'Mod 1', N'mod1@gmail.com', N'123', N'phone 3', 1, N'image/avatar3.jpg')
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryId], [name]) VALUES (1, N'Cho thuê phòng trọ')
INSERT [dbo].[Category] ([categoryId], [name]) VALUES (2, N'Nhà cho thuê')
INSERT [dbo].[Category] ([categoryId], [name]) VALUES (3, N'Cho thuê căn hộ')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([districtId], [provinceId], [name]) VALUES (1, 1, N'Sơn Tịnh')
INSERT [dbo].[District] ([districtId], [provinceId], [name]) VALUES (2, 1, N'Trà Bồng')
INSERT [dbo].[District] ([districtId], [provinceId], [name]) VALUES (3, 2, N'Ngũ Hành Sơn')
SET IDENTITY_INSERT [dbo].[District] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([imageId], [threadId], [src], [content], [image360]) VALUES (5, 1, N'image/1.jpg', N' Ký Túc Xá Sạch An Toàn Nhất Sài Gòn ', 0)
INSERT [dbo].[Image] ([imageId], [threadId], [src], [content], [image360]) VALUES (6, 1, N'image/1.jpg', N' Ký Túc Xá Sạch An Toàn Nhất Sài Gòn ', 0)
INSERT [dbo].[Image] ([imageId], [threadId], [src], [content], [image360]) VALUES (7, 1, N'image/1.jpg', N' Ký Túc Xá Sạch An Toàn Nhất Sài Gòn ', 0)
GO
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([provinceId], [name]) VALUES (1, N'Quảng Ngãi')
INSERT [dbo].[Province] ([provinceId], [name]) VALUES (2, N'Ðà Nẵng')
SET IDENTITY_INSERT [dbo].[Province] OFF
SET IDENTITY_INSERT [dbo].[Rate] ON 

INSERT [dbo].[Rate] ([rateId], [threadId], [accountId], [content], [score], [created]) VALUES (3078, 6, 2, N'chất lương phòng rất tốt, đúng như mô tả', 1, CAST(0x0000A73C009D4E50 AS DateTime))
INSERT [dbo].[Rate] ([rateId], [threadId], [accountId], [content], [score], [created]) VALUES (3079, 30, 2, N'dasdad asdasd ádasdasdasdasd', 1, CAST(0x0000A73C00A8BC7C AS DateTime))
INSERT [dbo].[Rate] ([rateId], [threadId], [accountId], [content], [score], [created]) VALUES (3080, 30, 2, N'aadsasd asdasdas âsdasdasdasđ ádasd', 4, CAST(0x0000A73C00A8D9C8 AS DateTime))
SET IDENTITY_INSERT [dbo].[Rate] OFF
SET IDENTITY_INSERT [dbo].[Thread] ON 

SET IDENTITY_INSERT [dbo].[Thread] OFF
SET IDENTITY_INSERT [dbo].[Village] ON 

INSERT [dbo].[Village] ([villageId], [districtId], [name]) VALUES (1, 1, N'Tịnh Bình')
INSERT [dbo].[Village] ([villageId], [districtId], [name]) VALUES (2, 1, N'Tịnh Sơn')
INSERT [dbo].[Village] ([villageId], [districtId], [name]) VALUES (3, 1, N'Tịnh Trà')
SET IDENTITY_INSERT [dbo].[Village] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [uc_Account]    Script Date: 3/20/2017 6:38:19 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [uc_Account] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [fk_Category_Account] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [fk_Category_Account]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [fk_Province_District] FOREIGN KEY([provinceId])
REFERENCES [dbo].[Province] ([provinceId])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [fk_Province_District]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Thread] FOREIGN KEY([threadId])
REFERENCES [dbo].[Thread] ([threadId])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Thread]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [fk_Account_Rate] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [fk_Account_Rate]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK_Rate_Thread] FOREIGN KEY([threadId])
REFERENCES [dbo].[Thread] ([threadId])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK_Rate_Thread]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [fk_Account_Thread] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [fk_Account_Thread]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [fk_Category_Thread] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [fk_Category_Thread]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [fk_Village_Thread] FOREIGN KEY([villageId])
REFERENCES [dbo].[Village] ([villageId])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [fk_Village_Thread]
GO
ALTER TABLE [dbo].[Village]  WITH CHECK ADD  CONSTRAINT [fk_District_Village] FOREIGN KEY([districtId])
REFERENCES [dbo].[District] ([districtId])
GO
ALTER TABLE [dbo].[Village] CHECK CONSTRAINT [fk_District_Village]
GO
